@keyframes option-animation {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animateOption {
  opacity: 0;
  animation: option-animation 200ms ease;
  animation-fill-mode: forwards;
}
