.day {
  --day-size-xs: rem(30px);
  --day-size-sm: rem(36px);
  --day-size-md: rem(42px);
  --day-size-lg: rem(48px);
  --day-size-xl: rem(54px);
  --day-size: var(--day-size-sm);

  width: var(--day-size, rem(36px));
  height: var(--day-size, rem(36px));
  font-size: calc(var(--day-size) / 2.8);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: var(--mantine-radius-default);
  color: var(--mantine-color-text);
  opacity: 1;

  @mixin hover {
    &:where(:not([data-static], [data-disabled], [data-selected], [data-in-range])) {
      @mixin light {
        background-color: var(--mantine-color-gray-0);
      }

      @mixin dark {
        background-color: var(--mantine-color-dark-5);
      }
    }
  }

  &:where([data-static]) {
    user-select: auto;
    cursor: default;
  }

  &:where([data-weekend]) {
    color: var(--mantine-color-red-6);
  }

  &:where([data-outside]) {
    color: var(--mantine-color-dimmed);
    opacity: 0.5;
  }

  &:where(:disabled, [data-disabled]) {
    color: var(--mantine-color-dimmed);
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:where([data-hidden]) {
    display: none;
  }

  &:where([data-in-range]) {
    background-color: var(--mantine-primary-color-light-hover);
    border-radius: 0;

    @mixin hover {
      &:where(:not([data-disabled], [data-static])) {
        background-color: var(--mantine-primary-color-light);
      }
    }
  }

  &:where([data-first-in-range]) {
    border-radius: var(--mantine-radius-default) 0 0 var(--mantine-radius-default);

    @mixin where-rtl {
      border-radius: 0 var(--mantine-radius-default) var(--mantine-radius-default) 0;
    }
  }

  &:where([data-last-in-range]) {
    border-radius: 0 var(--mantine-radius-default) var(--mantine-radius-default) 0;

    @mixin where-rtl {
      border-radius: var(--mantine-radius-default) 0 0 var(--mantine-radius-default);
    }
  }

  &:where([data-last-in-range][data-first-in-range]) {
    border-radius: var(--mantine-radius-default);
  }

  &:where([data-selected]) {
    background-color: var(--mantine-primary-color-filled);
    color: var(--mantine-primary-color-contrast);

    @mixin hover {
      &:where(:not([data-disabled], [data-static])) {
        background-color: var(--mantine-primary-color-filled-hover);
      }
    }
  }
}
