.root {
  background-color: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  position: absolute;
  z-index: 0;

  &:where([data-initialized]) {
    transition:
      transform 200ms ease,
      width 200ms ease,
      height 200ms ease;
  }
}
