.selector {
  display: block;
  width: 100%;
  font-size: var(--mantine-font-size-sm);
  padding: 6px var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  cursor: help;

  @mixin hover {
    @mixin light {
      background-color: var(--mantine-color-gray-0);
    }

    @mixin dark {
      background-color: var(--mantine-color-dark-6);
    }
  }
}
