.selector {
  display: block;
  width: 100%;
  font-size: var(--mantine-font-size-sm);
  padding: 6px var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  cursor: help;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}
