.code {
  border: rem(1px) solid;
  border-radius: var(--mantine-radius-md);
  margin-top: var(--mantine-spacing-md);
  margin-bottom: var(--mantine-spacing-md);

  @mixin light {
    border-color: var(--mantine-color-gray-2);
  }

  @mixin dark {
    border-color: var(--mantine-color-dark-5);
  }
}
