.dayView {
  --slot-height: 16px;
  --day-view-slot-labels-width: 80px;
  --day-view-radius: var(--schedule-radius, var(--mantine-radius-default));

  border: 1px solid var(--mantine-color-gray-3);
  border-radius: var(--day-view-radius);
}

.dayViewHeader {
  text-transform: capitalize;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
}

.dayViewInner {
  display: flex;
}

.dayViewSlotLabels {
  width: var(--day-view-slot-labels-width);
}

.dayViewSlotLabel {
  height: calc(var(--slot-height) * 4);
  border-top: 1px solid var(--mantine-color-gray-3);
  font-size: var(--mantine-font-size-sm);
  text-align: right;
  padding: 4px 8px;
  font-variant-numeric: tabular-nums;

  &:where([data-all-day]) {
    height: calc(var(--slot-height) * 3);
  }
}

.dayViewSlots {
  flex: 1;
}

.dayViewSlot {
  display: block;
  width: 100%;
  border-top: 1px dotted var(--mantine-color-gray-3);
  height: var(--slot-height);

  &:where([data-hour-start]) {
    border-top: 1px solid var(--mantine-color-gray-3);
  }

  @mixin hover {
    @mixin where-light {
      background-color: var(--mantine-color-gray-0);
    }

    @mixin where-dark {
      background-color: var(--mantine-color-dark-6);
    }
  }

  &:where([data-all-day]) {
    height: calc(var(--slot-height) * 3);
    border-top-style: solid;
  }
}
