.dropdown {
  position: absolute;
  background-color: var(--_popover-bg);
  border: rem(1px) solid var(--_popover-bd);
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
  box-shadow: var(--popover-shadow, none);
  border-radius: var(--popover-radius, var(--mantine-radius-default));

  &:focus {
    outline: none;
  }

  @mixin light {
    --_popover-bg: var(--mantine-color-white);
    --_popover-bd: var(--mantine-color-gray-2);
  }

  @mixin dark {
    --_popover-bg: var(--mantine-color-dark-6);
    --_popover-bd: var(--mantine-color-dark-4);
  }
}

.arrow {
  background-color: inherit;
  border: rem(1px) solid var(--_popover-bd);
  z-index: 1;
}
