.col {
  height: 100%;
  background-color: light-dark(var(--mantine-color-blue-0), var(--mantine-color-dark-4));
  padding: var(--mantine-spacing-md);
}

.label {
  color: light-dark(var(--mantine-color-blue-6), var(--mantine-color-dimmed));
  font-size: var(--mantine-font-size-xl);
  font-weight: bold;
  text-align: center;
}
