.icon {
  width: 22px;
  height: 22px;
}

.dark,
.light,
.auto {
  display: none;
}

[data-active='dark'] .dark {
  display: block;
}

[data-active='light'] .light {
  display: block;
}

[data-active='auto'] .auto {
  display: block;
}
