.title {
  font-family: var(--docs-font-primary);
  font-weight: 450;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  user-select: none;
  color: var(--mantine-color-bright);
  text-wrap: balance;

  &[data-order='1'] {
    font-size: 72px;

    @mixin smaller-than $mantine-breakpoint-md {
      font-size: 36px;
    }
  }

  &[data-order='2'] {
    font-size: 54px;

    @mixin smaller-than $mantine-breakpoint-md {
      font-size: 38px;
    }
  }
}
