# os
.DS_Store

## yarn
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# editor
.idea/
.vscode/
.nova/
.gitpod.yml

# node
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# env
.env.test
.env*.local

# build
lib/
cjs/
esm/

# typescript
*.tsbuildinfo

# project
next-env.d.ts
.eslintcache
storybook-static
.next
packages/*/*/styles.css
packages/*/*/styles.layer.css
packages/@mantine/core/styles
.stylelintcache
____test.*
apps/help.mantine.dev/out
apps/mantine.dev/components/___test.internal.tsx
apps/mantine.dev/.cache
apps/mantine.dev/out
apps/mantine.dev/.next
apps/mantine.dev/src/.docgen/
.samples
