.root {
  --level-offset: var(--mantine-spacing-lg);
  margin: 0;
  padding: 0;
}

.subtree {
  margin: 0;
  padding: 0;
  padding-inline-start: var(--level-offset);
}

.node {
  cursor: pointer;
  list-style: none;
  margin: 0;
  padding: 0;
  outline: 0;

  &:focus-visible {
    > .label {
      outline: 2px solid var(--mantine-primary-color-filled);
      outline-offset: 2px;
    }
  }
}
