.root {
  padding-block: 120px;
  padding-top: 60px;
}

.description {
  max-width: 840px;
}

.grid {
  margin-top: var(--mantine-spacing-xl);
}

.demo {
  border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-5));
  border-radius: var(--mantine-radius-lg);
  display: flex;
  flex-direction: column;
}

.demoHeader {
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-5));
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
  border-top-left-radius: calc(var(--mantine-radius-lg) - 1px);
  border-top-right-radius: calc(var(--mantine-radius-lg) - 1px);
}

.demoTitle {
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  font-family: var(--docs-font-primary);
}

.demoArea {
  flex: 1;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--mantine-spacing-lg);
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
  border-bottom-left-radius: calc(var(--mantine-radius-lg) - 1px);
  border-bottom-right-radius: calc(var(--mantine-radius-lg) - 1px);
}

.demoLink {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--mantine-font-size-xs);
  margin-top: 5px;
  opacity: 0.85;

  @mixin hover {
    opacity: 1;
  }
}
