.wrapper {
  z-index: 1;
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: var(--mantine-color-body);
  width: 100%;
}

.container {
  padding-inline: var(--docs-inline-spacing);
  padding-block: var(--mantine-spacing-xl);
  max-width: var(--docs-mdx-content-width);
  width: 100%;

  @mixin smaller-than $docs-mdx-breakpoint {
    padding-block: var(--mantine-spacing-md);
  }
}

.tableOfContents {
  flex: 0 0 var(--docs-table-of-contents-width);

  @mixin smaller-than $docs-mdx-breakpoint {
    display: none;
  }
}
