.item {
  display: flex;
  align-items: center;
  min-height: rem(20px);
  overflow-x: hidden;

  & + & {
    margin-top: var(--mantine-spacing-xs);
  }
}

.label {
  width: rem(100px);
  min-width: rem(100px);
  height: rem(20px);
  line-height: rem(20px);

  @media (max-width: 31em) {
    display: none;
  }

  @mixin light {
    color: var(--mantine-color-gray-6);
  }

  @mixin dark {
    color: var(--mantine-color-dark-2);
  }
}
