.root {
  --kbd-fz-xs: rem(10px);
  --kbd-fz-sm: rem(12px);
  --kbd-fz-md: rem(14px);
  --kbd-fz-lg: rem(16px);
  --kbd-fz-xl: rem(20px);
  --kbd-fz: var(--kbd-fz-sm);

  --kbd-padding-xs: rem(2px) rem(4px);
  --kbd-padding-sm: rem(3px) rem(5px);
  --kbd-padding-md: rem(4px) rem(7px);
  --kbd-padding-lg: rem(5px) rem(9px);
  --kbd-padding-xl: rem(8px) rem(14px);
  --kbd-padding: var(--kbd-padding-sm);

  font-family: var(--mantine-font-family-monospace);
  line-height: var(--mantine-line-height);
  font-weight: 700;
  padding: var(--kbd-padding);
  font-size: var(--kbd-fz);
  border-radius: var(--mantine-radius-sm);
  border: rem(1px) solid var(--_kbd-border-color);
  border-bottom-width: rem(3px);
  background-color: var(--_kbd-bg);
  color: var(--_kbd-color);

  @mixin light {
    --_kbd-border-color: var(--mantine-color-gray-3);
    --_kbd-color: var(--mantine-color-gray-7);
    --_kbd-bg: var(--mantine-color-gray-0);
  }

  @mixin dark {
    --_kbd-border-color: var(--mantine-color-dark-4);
    --_kbd-color: var(--mantine-color-dark-0);
    --_kbd-bg: var(--mantine-color-dark-5);
  }
}
