.root {
  width: calc(100% - var(--mantine-spacing-md) * 2);
  position: fixed;
  z-index: var(--notifications-z-index);
  max-width: var(--notifications-container-width);

  &:where([data-position='top-center']) {
    top: var(--mantine-spacing-md);
    left: 50%;
    transform: translateX(-50%);
  }

  &:where([data-position='top-left']) {
    top: var(--mantine-spacing-md);
    left: var(--mantine-spacing-md);
  }

  &:where([data-position='top-right']) {
    top: var(--mantine-spacing-md);
    right: var(--mantine-spacing-md);
  }

  &:where([data-position='bottom-center']) {
    bottom: var(--mantine-spacing-md);
    left: 50%;
    transform: translateX(-50%);
  }

  &:where([data-position='bottom-left']) {
    bottom: var(--mantine-spacing-md);
    left: var(--mantine-spacing-md);
  }

  &:where([data-position='bottom-right']) {
    bottom: var(--mantine-spacing-md);
    right: var(--mantine-spacing-md);
  }

  &:where([data-stacked]) {
    height: var(--notifications-stack-height);
    transition-property: height;
    transition-duration: var(--notifications-stack-transition-duration);
    transition-timing-function: ease;

    & .notification {
      --notifications-stack-content-opacity: 1;

      position: absolute;
      left: 0;
      right: 0;
      margin-top: 0;
      transform-origin: center;
      will-change: transform, opacity;

      &::before {
        transition-property: opacity;
        transition-duration: var(--notifications-stack-transition-duration);
        transition-timing-function: ease;
      }

      & > * {
        opacity: var(--notifications-stack-content-opacity);
        transition-property: opacity;
        transition-duration: var(--notifications-stack-transition-duration);
        transition-timing-function: ease;
      }
    }

    & .notification[data-stack-preview] {
      pointer-events: none;

      &::before {
        opacity: 0;
      }
    }

    & .notification + .notification {
      margin-top: 0;
    }
  }

  &:where([data-stacked][data-position='top-center']),
  &:where([data-stacked][data-position='top-left']),
  &:where([data-stacked][data-position='top-right']) {
    & .notification {
      top: 0;
    }
  }

  &:where([data-stacked][data-position='bottom-center']),
  &:where([data-stacked][data-position='bottom-left']),
  &:where([data-stacked][data-position='bottom-right']) {
    & .notification {
      bottom: 0;
    }
  }
}

.notification {
  & + & {
    margin-top: var(--mantine-spacing-md);
  }
}
