.root {
  --docs-header-height: 100px;
  --docs-navbar-width: 210px;
  --docs-table-of-contents-width: 250px;
}

.inner {
  display: flex;
}

.content {
  padding: 50px;

  @mixin smaller-than $mantine-breakpoint-md {
    padding: var(--mantine-spacing-md);
  }
}
