.swatch {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mantine-color-white);
  flex: 1 0 calc(15% - rem(4px));
}

.check {
  width: rem(12px);
  height: rem(12px);
}

.colorControl {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 calc(15% - rem(4px));
  height: rem(28px);
  border-radius: var(--mantine-radius-sm);
  border: rem(1px) solid var(--_control-border-color);

  @mixin light {
    --_control-border-color: var(--mantine-color-gray-5);
  }

  @mixin dark {
    --_control-border-color: var(--mantine-color-dark-3);
  }
}
