.weekView {
  --week-view-week-day-height: 58px;
  --week-view-all-day-slots-height: 48px;
  --week-view-radius: var(--schedule-radius, var(--mantine-radius-default));
  --week-view-slots-label-width: 80px;
  --week-view-min-slot-width: 80px;
  --week-view-slot-height: 64px;
  --indicator-labels-offset: calc(var(--week-view-slots-label-width) / var(--number-of-days));

  @mixin where-light {
    --week-view-border-color: var(--mantine-color-gray-3);
  }

  @mixin where-dark {
    --week-view-border-color: var(--mantine-color-dark-4);
  }
}

.weekViewRoot {
  border: 1px solid var(--week-view-border-color);
  border-radius: var(--week-view-radius);
}

.weekViewInner {
  display: flex;
  position: relative;
  overflow: hidden;
}

.weekViewScrollArea {
  :where(:global(.mantine-ScrollArea-scrollbar)) {
    z-index: 2;
  }
}

.weekViewHeader {
  display: flex;
  border-start-start-radius: var(--week-view-radius);
  border-start-end-radius: var(--week-view-radius);
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid var(--week-view-border-color);
  margin-bottom: -1px;
  transition: box-shadow 100ms ease;

  &:where([data-scrolled]) {
    box-shadow: var(--mantine-shadow-sm);
  }
}

.weekViewCorner {
  height: var(--week-view-week-day-height);
  flex: 0 0 var(--week-view-slots-label-width);
  min-width: var(--week-view-slots-label-width);
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weekViewSlotLabels {
  flex: 0 0 var(--week-view-slots-label-width);
  min-width: var(--week-view-slots-label-width);
  background-color: var(--mantine-color-body);
  border-end-start-radius: var(--week-view-radius);
}

.weekViewSlotLabel {
  border-top: 1px solid var(--week-view-border-color);
  text-align: right;
  height: var(--week-view-slot-height);
  padding: 4px;
  padding-inline-end: 8px;
  font-size: var(--mantine-font-size-sm);
  user-select: none;
  cursor: default;
  font-variant-numeric: tabular-nums;
  text-transform: uppercase;
}

.weekViewDay {
  flex: 1;
  border-inline-start: 1px solid var(--week-view-border-color);
}

.weekViewDayLabel {
  height: var(--week-view-week-day-height);
  min-width: var(--week-view-min-slot-width);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-weight: 600;
  user-select: none;
  cursor: pointer;
  flex: 1;
  border-inline-start: 1px solid var(--week-view-border-color);
  padding-inline-start: 5px;

  &:where([data-weekend]) {
    color: var(--mantine-color-error);
  }

  &:where([data-today]) {
    gap: 6px;
  }

  @mixin hover {
    @mixin where-light {
      background-color: var(--mantine-color-gray-0);
    }

    @mixin where-dark {
      background-color: var(--mantine-color-dark-6);
    }
  }
}

.weekViewDayNumber {
  text-align: center;
  width: 26px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: var(--mantine-font-size-sm);

  :where(.weekViewDayLabel[data-today]) & {
    background-color: var(--mantine-primary-color-filled);
    color: var(--mantine-primary-color-contrast);
  }
}

.weekViewDayWeekday {
  text-align: center;
  font-size: var(--mantine-font-size-sm);
  text-transform: capitalize;
}

.weekViewDaySlots {
  position: relative;
  overflow: hidden;

  &:where([data-today]) {
    background-color: var(--mantine-primary-color-light);
  }
}

.weekViewDaySlot {
  display: block;
  width: 100%;
  border-top: 1px solid var(--week-view-border-color);
  height: var(--week-view-slot-height);
  min-width: var(--week-view-min-slot-width);
  padding: 4px;
  cursor: pointer;

  @mixin hover {
    @mixin where-light {
      background-color: var(--mantine-color-gray-0);
    }

    @mixin where-dark {
      background-color: var(--mantine-color-dark-6);
    }
  }

  &:where([data-business-hours]) {
    @mixin where-light {
      background-color: var(--mantine-color-white);
    }

    @mixin where-dark {
      background-color: var(--mantine-color-dark-7);
    }
  }

  &:where([data-non-business-hours]) {
    @mixin where-light {
      background-color: var(--mantine-color-gray-1);
    }

    @mixin where-dark {
      background-color: var(--mantine-color-dark-5);
    }
  }
}

.weekViewWeekLabel {
  text-align: center;
  margin-bottom: 4px;
  font-size: var(--mantine-font-size-sm);
}

.weekViewWeekNumber {
  font-weight: 600;
  text-align: center;
  font-size: var(--mantine-font-size-lg);
}

.weekViewAllDaySlots {
  display: flex;
  height: var(--week-view-all-day-slots-height);
}

.weekViewAllDaySlotsLabel {
  flex: 0 0 var(--week-view-slots-label-width);
  text-align: right;
  padding: 4px 8px;
  font-size: var(--mantine-font-size-sm);
}

.weekViewAllDaySlotsEvents {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}

.weekViewAllDaySlotsList {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;

  & > .weekViewDaySlot {
    flex: 1;
    border-inline-start: 1px solid var(--week-view-border-color);
    height: 100%;
  }

  &:hover,
  &:focus-within {
    .weekViewAllDaySlotsEvents {
      overflow: visible;

      &::before {
        content: '';
        position: absolute;
        top: 100%;
        height: calc(var(--week-view-all-day-slots-height) / 2 * var(--extra-rows));
        inset-inline: 0;
        z-index: 1;
        pointer-events: all;
      }
    }
  }
}
