.root {
  --divider-size-xs: rem(1px);
  --divider-size-sm: rem(2px);
  --divider-size-md: rem(3px);
  --divider-size-lg: rem(4px);
  --divider-size-xl: rem(5px);
  --divider-size: var(--divider-size-xs);

  @mixin light {
    --_divider-color: var(--mantine-color-gray-4);
  }

  @mixin dark {
    --_divider-color: var(--mantine-color-dark-4);
  }

  &[data-orientation='horizontal'] {
    border-top: var(--divider-size) var(--divider-border-style, solid)
      var(--divider-color, var(--_divider-color));
  }

  &[data-orientation='vertical'] {
    border-left: var(--divider-size) var(--divider-border-style, solid)
      var(--divider-color, var(--_divider-color));
    height: auto;
    align-self: stretch;
  }

  &[data-with-label] {
    border: 0;
  }
}

.label {
  display: flex;
  align-items: center;
  font-size: var(--mantine-font-size-xs);
  color: var(--divider-color, var(--mantine-color-dimmed));
  white-space: nowrap;

  &[data-position='left'] {
    &::before {
      display: none;
    }
  }

  &[data-position='right'] {
    &::after {
      display: none;
    }
  }

  &::before {
    content: '';
    flex: 1;
    height: rem(1px);
    border-top: var(--divider-size) var(--divider-border-style, solid)
      var(--divider-color, var(--_divider-color));
    margin-right: var(--mantine-spacing-xs);

    @mixin rtl {
      margin-right: 0;
      margin-left: var(--mantine-spacing-xs);
    }
  }

  &::after {
    content: '';
    flex: 1;
    height: rem(1px);
    border-top: var(--divider-size) var(--divider-border-style, solid)
      var(--divider-color, var(--_divider-color));
    margin-left: var(--mantine-spacing-xs);

    @mixin rtl {
      margin-left: 0;
      margin-right: var(--mantine-spacing-xs);
    }
  }
}
