.root {
  display: block;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
}

.grid {
  @mixin where-light {
    stroke: var(--mantine-color-gray-4);
    opacity: 1;
  }

  @mixin where-dark {
    stroke: var(--mantine-color-dark-3);
    opacity: 0.6;
  }
}

.axis {
  color: alpha(var(--mantine-color-gray-5), 0.6);

  & :where(text) {
    color: var(--mantine-color-dimmed);
  }
}
