.root {
  display: block;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
}

.grid {
  stroke: var(--_grid-stroke);
  opacity: var(--_grid-opacity);

  @mixin light {
    --_grid-stroke: var(--mantine-color-gray-4);
    --_grid-opacity: 1;
  }

  @mixin dark {
    --_grid-stroke: var(--mantine-color-dark-3);
    --_grid-opacity: 0.6;
  }
}

.axis {
  color: alpha(var(--mantine-color-gray-5), 0.6);

  & :where(text) {
    color: var(--mantine-color-dimmed);
  }
}
