.text {
  & code {
    font-family: var(--mantine-font-family-monospace);
    line-height: var(--mantine-line-height);
    padding: 2px calc(var(--mantine-spacing-xs) / 2);
    border-radius: var(--mantine-radius-sm);
    font-size: var(--mantine-font-size-xs);
    margin: 0;
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
    color: var(--mantine-color-bright);
  }

  & a {
    color: var(--mantine-color-anchor);
    text-decoration: none;

    @mixin hover {
      text-decoration: underline;
    }
  }

  & ul {
    margin: var(--mantine-spacing-sm) 0;
    padding-left: var(--mantine-spacing-lg);
    margin-top: 3px;
  }
}
