.title {
  --title-color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

  display: inline-block;
  position: relative;
  font-family: var(--docs-font-primary);
  font-size: rem(42px);
  font-weight: 900;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-bottom: calc(var(--mantine-spacing-xl) * 2);
  letter-spacing: rem(1px);
  margin-left: rem(22px);
  text-transform: uppercase;
  color: var(--title-color);

  @mixin rtl {
    margin-left: 0;
    margin-right: rem(22px);
    text-align: right;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    margin-bottom: var(--mantine-spacing-md);
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: rem(10px);
    height: rem(10px);
  }

  &::before {
    top: rem(-14px);
    left: rem(-22px);
    border-left: rem(5px) solid var(--title-color);
    border-top: rem(5px) solid var(--title-color);

    @mixin rtl {
      left: auto;
      right: rem(-22px);
      border-left: none;
      border-right: rem(5px) solid var(--title-color);
    }
  }

  &::after {
    bottom: rem(-14px);
    right: rem(-22px);
    border-right: rem(5px) solid var(--title-color);
    border-bottom: rem(5px) solid var(--title-color);

    @mixin rtl {
      right: auto;
      left: rem(-22px);
      border-right: none;
      border-left: rem(5px) solid var(--title-color);
    }
  }

  @media (max-width: em(600px)) {
    font-size: rem(28px);
    margin-left: 0;

    @mixin rtl {
      margin-right: 0;
    }

    &::before,
    &::after {
      display: none;
    }
  }

  &[data-white] {
    color: var(--mantine-color-white);
    text-shadow: rem(1px) rem(2px) rem(2px) rgba(0, 0, 0, 0.3);

    &::before,
    &::after {
      filter: drop-shadow(rem(1px) rem(2px) rem(2px) rgba(0, 0, 0, 0.3));
      border-color: var(--mantine-color-white);
    }
  }

  &[data-default] {
    &::before,
    &::after {
      border-color: var(--title-color);
    }
  }
}
