/* Avatar.Group root element */
.group {
  --ag-spacing: var(--mantine-spacing-sm);
  --ag-offset: calc(var(--ag-spacing) * -1);

  display: flex;
  padding-left: var(--ag-spacing);

  @mixin where-rtl {
    padding-left: 0;
    padding-right: var(--ag-spacing);
  }
}

/* Avatar root element */
.root {
  --avatar-size-xs: rem(16px);
  --avatar-size-sm: rem(26px);
  --avatar-size-md: rem(38px);
  --avatar-size-lg: rem(56px);
  --avatar-size-xl: rem(84px);

  --avatar-size: var(--avatar-size-md);
  --avatar-radius: rem(1000px);
  --avatar-bg: var(--mantine-color-gray-light);
  --avatar-bd: rem(1px) solid transparent;
  --avatar-color: var(--mantine-color-gray-light-color);
  --avatar-placeholder-fz: calc(var(--avatar-size) / 2.5);

  -webkit-tap-highlight-color: transparent;
  position: relative;
  display: block;
  user-select: none;
  overflow: hidden;
  border-radius: var(--avatar-radius);
  text-decoration: none;
  padding: 0;
  width: var(--avatar-size);
  height: var(--avatar-size);
  min-width: var(--avatar-size);

  &:where([data-within-group]) {
    margin-left: var(--ag-offset);
    border: rem(2px) solid var(--mantine-color-body);
    background: var(--mantine-color-body);

    @mixin where-rtl {
      margin-right: var(--ag-offset);
      margin-left: unset;
    }
  }
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.placeholder {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  user-select: none;
  border-radius: var(--avatar-radius);
  font-size: var(--avatar-placeholder-fz);
  background: var(--avatar-bg);
  border: var(--avatar-bd);
  color: var(--avatar-color);

  & > [data-avatar-placeholder-icon] {
    width: 70%;
    height: 70%;
  }
}
