.dropdown {
  padding: rem(4px);
}

.label {
  color: var(--mantine-color-dimmed);
  font-weight: 500;
  font-size: var(--mantine-font-size-xs);
  padding: calc(var(--mantine-spacing-xs) / 2) var(--mantine-spacing-sm);
  cursor: default;
}

.divider {
  margin-top: rem(4px);
  margin-bottom: rem(4px);
  border-top: rem(1px) solid var(--_divider-color);

  @mixin light {
    --_divider-color: var(--mantine-color-gray-2);
  }

  @mixin dark {
    --_divider-color: var(--mantine-color-dark-4);
  }
}

.item {
  font-size: var(--mantine-font-size-sm);
  width: 100%;
  padding: calc(var(--mantine-spacing-xs) / 1.5) var(--mantine-spacing-sm);
  border-radius: var(--popover-radius, var(--mantine-radius-default));
  color: var(--menu-item-color, var(--mantine-color-text));
  display: flex;
  align-items: center;
  user-select: none;
  background-color: var(--_item-bg, transparent);
  opacity: var(--_item-opacity, 1);
  pointer-events: var(--_item-pointer-events, auto);

  &[data-disabled],
  &:disabled {
    --menu-item-color: var(--mantine-color-dimmed) !important;
    --_item-opacity: 0.6;
    --_item-pointer-events: none;
  }

  &[data-hovered] {
    --_item-bg: var(--menu-item-hover, var(--_item-bg-hover));

    @mixin light {
      --_item-bg-hover: var(--mantine-color-gray-1);
    }

    @mixin dark {
      --_item-bg-hover: var(--mantine-color-dark-4);
    }
  }
}

.itemLabel {
  flex: 1;
}

.itemSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: var(--_section-ml);
  margin-right: var(--_section-mr);

  &[data-position='left'] {
    --_section-ml: 0;
    --_section-mr: var(--mantine-spacing-xs);

    @mixin rtl {
      --_section-ml: var(--mantine-spacing-xs);
      --_section-mr: 0;
    }
  }

  &[data-position='right'] {
    --_section-ml: var(--mantine-spacing-xs);
    --_section-mr: 0;

    @mixin rtl {
      --_section-ml: 0;
      --_section-mr: var(--mantine-spacing-xs);
    }
  }
}
