.root {
  position: relative;
  border-radius: var(--ch-radius, 0px);
  overflow: hidden;

  &:where([data-with-border]) {
    @mixin where-light {
      border: 1px solid var(--mantine-color-gray-2);
    }

    @mixin where-dark {
      border: 1px solid var(--mantine-color-dark-6);
    }
  }

  @mixin where-light {
    --code-background: var(--mantine-color-gray-0);
  }

  @mixin where-dark {
    --code-background: var(--mantine-color-dark-8);
  }
}

.pre {
  --code-line-height: 1.7;

  display: block;
  margin: 0;

  & .code {
    display: block;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  }
}

.code {
  display: inline-block;
  background-color: var(--code-background);
  font-size: 13px;
  border-radius: var(--mantine-radius-xs);
  line-height: var(--code-line-height, var(--mantine-line-height));
  font-family: var(--mantine-font-family-monospace);
}

.controlIcon {
  width: 18px;
  height: 18px;
}

.controls {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 8px;
  background-color: var(--code-background);
  border-bottom-left-radius: var(--mantine-radius-md);
}

.control {
  color: var(--mantine-color-text);
  opacity: 0.5;

  @mixin hover {
    color: var(--mantine-color-bright);
    opacity: 1;
  }
}

.scrollarea {
  &[data-collapsed] {
    max-height: var(--ch-max-height, 250px);

    &::before {
      content: '';
      position: absolute;
      inset-inline: 0;
      bottom: 0;
      height: 80px;
      pointer-events: none;
      background-image: linear-gradient(0deg, var(--code-background) 25%, rgba(0, 0, 0, 0) 100%);
    }
  }
}

.showCodeButton {
  position: absolute;
  z-index: 2;
  bottom: 0;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-anchor);
  width: 100%;
  text-align: center;
  padding-top: var(--mantine-spacing-xs);
  padding-bottom: var(--mantine-spacing-xs);
  white-space: nowrap;

  &[data-hidden] {
    display: none;
  }
}
