.wrapper {
  display: flex;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  line-height: 1;
  color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-dark-0));
}

.icon {
  margin-inline-end: 12px;
  display: flex;
  align-items: center;
}
