.root {
  display: block;
  width: 100%;

  svg {
    overflow: visible;
  }

  @mixin where-light {
    --chart-grid-color: rgba(173, 181, 189, 0.6);
    --chart-cursor-fill: rgba(173, 181, 189, 0.15);
  }

  @mixin where-dark {
    --chart-cursor-fill: rgba(105, 105, 105, 0.15);
    --chart-grid-color: rgba(105, 105, 105, 0.6);
  }

  & :where(text) {
    font-family: var(--mantine-font-family);
    color: var(--chart-text-color, var(--mantine-color-dimmed));
  }
}

.container {
  height: 100%;
  width: 100%;
}

.grid {
  stroke: var(--chart-grid-color);
}

.axis {
  color: var(--chart-grid-color);
}

.axisLabel {
  color: var(--chart-text-color, var(--mantine-color-dimmed));
}
