.currentTimeIndicator {
  position: absolute;
  left: 0;
  right: 0;
  top: var(--top-offset);
  height: 2px;
  z-index: 2;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--indicator-color, var(--mantine-color-red-7));
    opacity: 0.4;
  }
}

.currentTimeIndicatorLine {
  height: 100%;
  position: absolute;
  top: 0;
  background-color: blue;
  inset-inline-start: var(--start-offset);
  inset-inline-end: var(--end-offset);
}
