.title {
  line-height: 1;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: var(--mantine-font-size-md);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--mb-padding, var(--mantine-spacing-md));
  padding-right: var(--_pr, calc(var(--mb-padding, var(--mantine-spacing-md)) - rem(5px)));
  padding-left: var(--_pl, var(--mb-padding, var(--mantine-spacing-md)));
  position: sticky;
  top: 0;
  background-color: var(--mantine-color-body);
  z-index: 1000;

  @mixin rtl {
    --_pr: var(--mb-padding, var(--mantine-spacing-md));
    --_pl: calc(var(--mb-padding, var(--mantine-spacing-md)) - rem(5px));
  }
}

.inner {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: var(--mb-z-index);
  pointer-events: none;
}

.content {
  pointer-events: all;
  box-shadow: var(--mb-shadow, var(--mantine-shadow-xl));
}

.close {
  margin-left: var(--_close-ml, auto);
  margin-right: var(--_close-mr, 0);

  @mixin rtl {
    --_close-ml: 0;
    --_close-mr: auto;
  }
}

.body {
  padding: var(--mb-padding, var(--mantine-spacing-md));
  padding-top: var(--_pt, var(--mb-padding, var(--mantine-spacing-md)));

  &:not(:only-child) {
    --_pt: 0;
  }
}
