.root {
  --toggle-size-xs: 22px;
  --toggle-size-sm: 26px;
  --toggle-size-md: 30px;
  --toggle-size-lg: 36px;
  --toggle-size-xl: 42px;

  --toggle-size: var(--toggle-size-md);

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: var(--toggle-radius, var(--mantine-radius-default));
  cursor: pointer;
  appearance: none;
  text-decoration: none;
  line-height: 1;
  user-select: none;
  font-size: var(--mantine-font-size-xs);
  width: var(--toggle-size);
  min-width: var(--toggle-size);
  height: var(--toggle-size);
  padding: calc(var(--toggle-size) / 5);
  font-weight: var(--mantine-font-weight-medium);

  &:where([data-auto-width]) {
    width: auto;
    padding: 0 calc(var(--toggle-size) / 4);
  }

  @mixin where-light {
    background-color: var(--mantine-color-white);
    border-color: var(--mantine-color-gray-4);
    color: var(--mantine-color-gray-7);
  }

  @mixin where-dark {
    background-color: var(--mantine-color-dark-6);
    border-color: var(--mantine-color-dark-4);
    color: var(--mantine-color-dark-1);
  }

  @mixin hover {
    &:where(:not([data-disabled], [data-active])) {
      @mixin where-light {
        background-color: var(--mantine-color-gray-0);
      }

      @mixin where-dark {
        background-color: var(--mantine-color-dark-5);
      }
    }
  }

  &:where([data-active]) {
    background-color: var(--toggle-active-bg, var(--mantine-primary-color-light));
    color: var(--toggle-active-color, var(--mantine-primary-color-light-color));
    border-color: transparent;

    @mixin hover {
      &:where(:not([data-disabled])) {
        background-color: var(--toggle-active-hover, var(--mantine-primary-color-light-hover));
      }
    }
  }

  &:where([data-disabled]) {
    cursor: not-allowed;
    color: var(--mantine-color-disabled-color);
    background-color: var(--mantine-color-disabled);
    border-color: transparent;
  }

  &:where([data-disabled][data-active]) {
    @mixin where-light {
      background-color: var(--mantine-color-gray-4);
      color: var(--mantine-color-gray-6);
    }

    @mixin where-dark {
      background-color: var(--mantine-color-dark-4);
      color: var(--mantine-color-dark-2);
    }
  }
}
