.root {
  --chip-size-xs: rem(23px);
  --chip-size-sm: rem(28px);
  --chip-size-md: rem(32px);
  --chip-size-lg: rem(36px);
  --chip-size-xl: rem(40px);

  --chip-icon-size-xs: rem(10px);
  --chip-icon-size-sm: rem(12px);
  --chip-icon-size-md: rem(14px);
  --chip-icon-size-lg: rem(16px);
  --chip-icon-size-xl: rem(18px);

  --chip-padding-xs: rem(16px);
  --chip-padding-sm: rem(20px);
  --chip-padding-md: rem(24px);
  --chip-padding-lg: rem(28px);
  --chip-padding-xl: rem(32px);

  --chip-checked-padding-xs: rem(7.5px);
  --chip-checked-padding-sm: rem(10px);
  --chip-checked-padding-md: rem(11.7px);
  --chip-checked-padding-lg: rem(13.5px);
  --chip-checked-padding-xl: rem(12.5px);

  --chip-spacing-xs: rem(10px);
  --chip-spacing-sm: rem(12px);
  --chip-spacing-md: rem(16px);
  --chip-spacing-lg: rem(20px);
  --chip-spacing-xl: rem(22px);

  --chip-size: var(--chip-size-sm);
  --chip-icon-size: var(--chip-icon-size-sm);
  --chip-padding: var(--chip-padding-sm);
  --chip-spacing: var(--chip-spacing-sm);
  --chip-checked-padding: var(--chip-checked-padding-sm);
  --chip-bg: var(--mantine-primary-color-filled);
  --chip-hover: var(--mantine-primary-color-filled-hover);
  --chip-color: var(--mantine-color-white);
  --chip-bd: rem(1px) solid transparent;
}

.label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  border-radius: var(--chip-radius, rem(1000px));
  height: var(--chip-size);
  font-size: var(--chip-fz, var(--mantine-font-size-sm));
  line-height: calc(var(--chip-size) - rem(2px));
  padding-inline: var(--chip-padding);
  cursor: pointer;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  border: rem(1px) solid transparent;
  color: var(--mantine-color-text);

  &:where([data-checked]) {
    padding: var(--chip-checked-padding);
  }

  &:where([data-disabled]) {
    cursor: not-allowed;

    @mixin where-light {
      background-color: var(--mantine-color-gray-2);
      color: var(--mantine-color-gray-5);
    }

    @mixin where-dark {
      background-color: var(--mantine-color-dark-6);
      color: var(--mantine-color-dark-3);
    }
  }
}

.label--outline:not([data-disabled]) {
  @mixin where-light {
    background-color: var(--mantine-color-white);
    border: rem(1px) solid var(--mantine-color-gray-3);
  }

  @mixin where-dark {
    background-color: var(--mantine-color-dark-6);
    border: rem(1px) solid var(--mantine-color-dark-4);
  }

  @mixin hover {
    @mixin where-light {
      background-color: var(--mantine-color-gray-0);
    }

    @mixin where-dark {
      background-color: var(--mantine-color-dark-5);
    }
  }

  &:where([data-checked]) {
    --chip-icon-color: var(--chip-color);
    border: var(--chip-bd);

    @mixin hover {
      background-color: var(--chip-hover);
    }
  }
}

.label--filled:not([data-disabled]),
.label--light:not([data-disabled]) {
  border: rem(1px) solid transparent;
  color: var(--mantine-color-text);

  @mixin where-light {
    background-color: var(--mantine-color-gray-1);
  }

  @mixin where-dark {
    background-color: var(--mantine-color-dark-5);
  }

  @mixin hover {
    @mixin where-light {
      background-color: var(--mantine-color-gray-2);
    }

    @mixin where-dark {
      background-color: var(--mantine-color-dark-4);
    }
  }

  &:where([data-checked]) {
    --chip-icon-color: var(--chip-color);
    color: var(--chip-color);
    background-color: var(--chip-bg);

    @mixin hover {
      background-color: var(--chip-hover);
    }
  }
}

.iconWrapper {
  width: calc(var(--chip-icon-size) + (var(--chip-spacing) / 1.5));
  max-width: calc(var(--chip-icon-size) + (var(--chip-spacing) / 1.5));
  height: var(--chip-icon-size);
  display: flex;
  align-items: center;
  overflow: hidden;
}

.checkIcon {
  width: var(--chip-icon-size);
  height: var(--chip-icon-size);
  display: block;
  color: var(--chip-icon-color, inherit);
}

.input {
  width: 0;
  height: 0;
  padding: 0;
  opacity: 0;
  margin: 0;

  &:focus-visible + .label {
    outline: rem(2px) solid var(--mantine-primary-color-filled);
    outline-offset: rem(2px);
  }
}
