.root {
  --button-height-xs: rem(30px);
  --button-height-sm: rem(36px);
  --button-height-md: rem(42px);
  --button-height-lg: rem(50px);
  --button-height-xl: rem(60px);

  --button-height-compact-xs: rem(22px);
  --button-height-compact-sm: rem(26px);
  --button-height-compact-md: rem(30px);
  --button-height-compact-lg: rem(34px);
  --button-height-compact-xl: rem(40px);

  --button-padding-x-xs: rem(14px);
  --button-padding-x-sm: rem(18px);
  --button-padding-x-md: rem(22px);
  --button-padding-x-lg: rem(26px);
  --button-padding-x-xl: rem(32px);

  --button-padding-x-compact-xs: rem(7px);
  --button-padding-x-compact-sm: rem(8px);
  --button-padding-x-compact-md: rem(10px);
  --button-padding-x-compact-lg: rem(12px);
  --button-padding-x-compact-xl: rem(14px);

  --button-height: var(--button-height-sm);
  --button-padding-x: var(--button-padding-x-sm);
  --button-color: var(--mantine-color-white);

  user-select: none;
  font-weight: 600;
  position: relative;
  line-height: 1;
  text-align: center;

  width: var(--_button-width, auto);
  cursor: var(--_button-cursor, pointer);
  display: var(--_button-display, inline-block);
  border-radius: var(--button-radius, var(--mantine-radius-default));
  font-size: var(--button-fz, var(--mantine-font-size-sm));
  background: var(--_button-bg, var(--button-bg, var(--mantine-primary-color-filled)));
  border: var(--_button-bd, var(--button-bd, rem(1px) solid transparent));
  color: var(--_button-color, var(--button-color, var(--mantine-color-white)));
  height: var(--button-height, var(--button-height-sm));
  padding-left: var(--_button-padding-left, var(--button-padding-x, var(--button-padding-x-sm)));
  padding-right: var(--_button-padding-right, var(--button-padding-x, var(--button-padding-x-sm)));

  &[data-block] {
    --_button-display: block;
    --_button-width: 100%;
  }

  &[data-with-left-section] {
    --_button-padding-left: calc(var(--button-padding-x) / 1.5);

    @mixin rtl {
      --_button-padding-left: var(--button-padding-x);
      --_button-padding-right: calc(var(--button-padding-x) / 1.5);
    }
  }

  &[data-with-right-section] {
    --_button-padding-right: calc(var(--button-padding-x) / 1.5);

    @mixin rtl {
      --_button-padding-right: var(--button-padding-x);
      --_button-padding-left: calc(var(--button-padding-x) / 1.5);
    }
  }

  &:disabled:not([data-loading]),
  &[data-disabled]:not([data-loading]) {
    --_button-cursor: not-allowed;
    --_button-bg: var(--_disabled-bg);
    --_button-color: var(--_disabled-color);
    --_button-bd: transparent;
    transform: none;
  }

  &[data-loading] {
    --_button-cursor: not-allowed;
    transform: none;

    &::before {
      content: '';
      position: absolute;
      inset: rem(-1px);
      border-radius: var(--button-radius);
      background-color: var(--_button-loading-overlay-bg);
    }
  }

  @mixin hover {
    &:not([data-loading]):not(:disabled):not([data-disabled]) {
      --_button-bg: var(--button-hover, var(--mantine-primary-color-filled-hover));
    }
  }

  @mixin light {
    --_disabled-color: var(--mantine-color-gray-5);
    --_disabled-bg: var(--mantine-color-gray-1);
    --_button-loading-overlay-bg: rgba(255, 255, 255, 0.35);
  }

  @mixin dark {
    --_disabled-color: var(--mantine-color-dark-3);
    --_disabled-bg: var(--mantine-color-dark-6);
    --_button-loading-overlay-bg: rgba(0, 0, 0, 0.35);
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: var(--button-justify, center);
  height: 100%;
  overflow: visible;
}

.label {
  white-space: nowrap;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  opacity: var(--_button-label-opacity, 1);

  &[data-loading] {
    --_button-label-opacity: 0.2;
  }
}

.section {
  display: flex;
  align-items: center;
  margin-right: var(--_button-section-margin-right);
  margin-left: var(--_button-section-margin-left);

  &[data-position='left'] {
    --_button-section-margin-right: var(--mantine-spacing-xs);

    @mixin rtl {
      --_button-section-margin-right: 0;
      --_button-section-margin-left: var(--mantine-spacing-xs);
    }
  }

  &[data-position='right'] {
    --_button-section-margin-left: var(--mantine-spacing-xs);

    @mixin rtl {
      --_button-section-margin-left: 0;
      --_button-section-margin-right: var(--mantine-spacing-xs);
    }
  }
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.group {
  display: flex;
  --button-border-width: rem(1px);

  &[data-orientation='horizontal'] {
    flex-direction: row;

    & .root {
      &:not(:only-child):first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-right-width: calc(var(--button-border-width) / 2);
      }

      &:not(:only-child):last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-left-width: calc(var(--button-border-width) / 2);
      }

      &:not(:only-child):not(:first-child):not(:last-child) {
        border-radius: 0;
        border-right-width: calc(var(--button-border-width) / 2);
        border-left-width: calc(var(--button-border-width) / 2);
      }
    }
  }

  &[data-orientation='vertical'] {
    flex-direction: column;

    & .root {
      &:not(:only-child):first-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-width: calc(var(--button-border-width) / 2);
      }

      &:not(:only-child):last-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top-width: calc(var(--button-border-width) / 2);
      }

      &:not(:only-child):not(:first-child):not(:last-child) {
        border-radius: 0;
        border-bottom-width: calc(var(--button-border-width) / 2);
        border-top-width: calc(var(--button-border-width) / 2);
      }
    }
  }
}
