.root {
  --rating-size-xs: rem(14px);
  --rating-size-sm: rem(18px);
  --rating-size-md: rem(20px);
  --rating-size-lg: rem(28px);
  --rating-size-xl: rem(32px);

  display: flex;
  width: max-content;
  pointer-events: var(--_pointer-events);

  &:has(input:disabled) {
    --_pointer-events: none;
  }
}

.symbolGroup {
  position: relative;
  transition: transform 100ms ease;
  z-index: var(--_z-index);
  transform: var(--_transform);

  &[data-active] {
    --_z-index: 1;
    --_transform: scale(1.1);
  }
}

.starSymbol {
  width: var(--rating-size);
  height: var(--rating-size);
  stroke: var(--_star-color);
  fill: var(--_star-color);
  display: block;

  @mixin light {
    --_star-color: var(--mantine-color-gray-3);
  }

  @mixin dark {
    --_star-color: var(--mantine-color-dark-4);
  }

  [data-mantine-color-scheme] &[data-filled] {
    --_star-color: var(--rating-color);
  }
}

.input {
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  -webkit-tap-highlight-color: transparent;

  &:focus-visible + label {
    outline: rem(2px) solid var(--mantine-primary-color-filled);
    outline-offset: rem(2px);
  }
}

.label {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--rating-item-z-index, 0);
  -webkit-tap-highlight-color: transparent;

  &[data-read-only] {
    cursor: default;
  }

  &:last-of-type {
    position: relative;
  }
}

.symbolBody {
  clip-path: var(--rating-symbol-clip-path);
}
