.codeHighlight {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  border-radius: var(--mantine-radius-md);
  overflow: hidden;
}

.control {
  background: var(--docs-home-page-gradient);
}
