.root {
  overflow: hidden;
}

.inner {
  width: calc(100% + var(--grid-gutter));
  display: flex;
  flex-wrap: wrap;
  justify-content: var(--grid-justify);
  align-items: var(--grid-align);
  margin: calc(var(--grid-gutter) / -2);
}

.col {
  flex-shrink: 0;
  order: var(--col-order);
  flex-basis: var(--col-flex-basis);
  width: var(--col-width);
  max-width: var(--col-max-width);
  flex-grow: var(--col-flex-grow, 0);
  margin-left: var(--_col-ml, var(--col-offset, 0));
  margin-right: var(--_col-mr, 0);
  padding: calc(var(--grid-gutter) / 2);

  @mixin rtl {
    --_col-ml: 0;
    --_col-mr: var(--col-offset, 0);
  }
}
