.root {
  border: rem(1px) solid;
  border-radius: var(--mantine-radius-md);
  overflow: hidden;
  margin-bottom: var(--mantine-spacing-xl);

  @mixin light {
    border-color: var(--mantine-color-gray-2);
  }

  @mixin dark {
    border-color: var(--mantine-color-dark-5);
  }
}

.icon {
  margin-right: rem(5px);

  @mixin rtl {
    margin-right: 0;
    margin-left: rem(5px);
  }
}
