.rootBackground {
  @mixin dark {
    background-color: var(--mantine-color-dark-5);
    border-color: var(--mantine-color-dark-5);
  }
}

.indicatorBackground {
  @mixin dark {
    background-color: var(--mantine-color-dark-3);
  }
}

.autoIconColor {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}
