.root {
  --psi-button-size-xs: rem(22px);
  --psi-button-size-sm: rem(26px);
  --psi-button-size-md: rem(28px);
  --psi-button-size-lg: rem(32px);
  --psi-button-size-xl: rem(40px);

  --psi-icon-size-xs: rem(12px);
  --psi-icon-size-sm: rem(15px);
  --psi-icon-size-md: rem(17px);
  --psi-icon-size-lg: rem(19px);
  --psi-icon-size-xl: rem(21px);

  --psi-button-size: var(--psi-button-size-sm);
  --psi-icon-size: var(--psi-icon-size-sm);
}

.input {
  position: relative;
  overflow: hidden;
}

.innerInput {
  font-family: var(--mantine-font-family);
  background-color: transparent;
  border: 0;
  padding-right: var(--_input-padding-right);
  padding-left: var(--_input-padding-left);
  position: absolute;
  inset: 0;
  outline: 0;
  font-size: inherit;
  line-height: var(--mantine-line-height);
  height: 100%;
  width: 100%;
  color: inherit;

  [data-disabled] &,
  &:disabled {
    cursor: not-allowed;
  }

  &::placeholder {
    color: var(--_input-placeholder-color);
    opacity: 1;
  }
}

.visibilityToggle {
  width: var(--psi-button-size);
  height: var(--psi-button-size);
  min-width: var(--psi-button-size);
  min-height: var(--psi-button-size);
}
