.root {
  border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  border-radius: var(--mantine-radius-md);
  overflow: hidden;
  margin-bottom: var(--mantine-spacing-xl);
}

.icon {
  margin-inline-end: 5px;
}
