.demo {
  flex: 1;
  border-top-left-radius: calc(var(--mantine-radius-md) - 1px);
  border-top-right-radius: calc(var(--mantine-radius-md) - 1px);

  &:where([data-with-padding]) {
    padding: var(--mantine-spacing-md);
  }

  &[data-dimmed] {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
  }

  &[data-centered] {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &[data-striped] {
    border-top-left-radius: calc(var(--mantine-radius-md) - 1px);
    background: repeating-linear-gradient(
        45deg,
        transparent 0,
        transparent 10px,
        var(--stripe-color) 10px,
        var(--stripe-color) 12px
      ),
      repeating-linear-gradient(
        135deg,
        transparent 0,
        transparent 10px,
        var(--stripe-color) 10px,
        var(--stripe-color) 12px
      );

    @mixin rtl {
      border-top-right-radius: calc(var(--mantine-radius-md) - 1px);
      border-top-left-radius: 0;
    }

    @mixin light {
      --stripe-color: rgba(0, 0, 0, 0.03);
    }

    @mixin dark {
      --stripe-color: rgba(255, 255, 255, 0.03);
    }
  }
}

.demoInner {
  flex: var(--demo-flex);
  max-width: var(--demo-max-width, 100%);
  min-height: var(--demo-min-height, unset);
  margin-left: var(--demo-margin-y, unset);
  margin-right: var(--demo-margin-y, unset);
}
