body {
  --docs-font-primary: 'Outfit', sans-serif;
  --docs-font-size: 15px;
  --docs-inline-spacing: 50px;
  --docs-header-height: 100px;
  --docs-navbar-width: 220px;
  --docs-table-of-contents-width: 250px;
  --docs-main-header-section-height: 56px;

  @mixin smaller-than $docs-mdx-breakpoint {
    --docs-header-height: 56px;
    --docs-navbar-width: 0px;
    --docs-font-size: 16px;
    --docs-inline-spacing: 0px;
  }

  @mixin smaller-than $docs-toc-breakpoint {
    --docs-table-of-contents-width: 0px;
  }
}
