.root {
  --combobox-shell-navbar-width: 300px;

  @media (max-width: $docs-mdx-breakpoint) {
    --combobox-shell-navbar-width: 0;
  }
}

.main {
  padding-inline-start: var(--combobox-shell-navbar-width);
}
