.root {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  font-size: var(--text-fz, var(--mantine-font-size-md));
  line-height: var(--text-lh, var(--mantine-line-height-md));
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: var(--text-color);

  &[data-truncate] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &[data-truncate='start'] {
    direction: rtl;
    text-align: right;

    @mixin rtl {
      direction: ltr;
      text-align: left;
    }
  }

  &[data-variant='gradient'] {
    background-image: var(--text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &[data-line-clamp] {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--text-line-clamp);
    -webkit-box-orient: vertical;
  }

  &[data-inherit] {
    line-height: inherit;
    font-weight: inherit;
    font-size: inherit;
  }

  &[data-inline] {
    --_text-line-height: 1;
  }
}
