.root {
  position: relative;

  &:where([data-has-spoiler]) {
    margin-bottom: rem(24px);
  }
}

.content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: max-height var(--spoiler-transition-duration, 200ms) ease;
}

.control {
  position: absolute;
  left: 0;
  top: 100%;
  height: rem(24px);

  @mixin where-rtl {
    left: auto;
    right: 0;
  }
}
