.paragraph {
  line-height: 1.65;
  font-size: 15px;
}

.ul {
  line-height: 1.65;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 15px;
  padding-left: var(--mantine-spacing-xl);
}

.li {
  margin-top: 4px;
  font-size: 15px;
}
