.paragraph {
  line-height: 1.65;
  font-size: var(--docs-font-size);

  & + .ul {
    margin-top: 0;
  }

  &:has(+ .ul) {
    margin-bottom: 0;
  }
}

.ul {
  line-height: 1.65;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: var(--docs-font-size);
  padding-left: var(--mantine-spacing-xl);
}

.li {
  margin-top: 4px;
  font-size: var(--docs-font-size);
}
