.event {
  padding: 1px;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  &:where([data-auto-size]) {
    container-type: size;
  }
}

.eventInner {
  background-color: var(--event-bg);
  color: var(--event-color);
  pointer-events: all;
  border-radius: var(--event-radius);
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  padding: 3px 4px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  user-select: none;
  overflow: hidden;

  &:where([data-nowrap]) {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &:where([data-size='md']) {
    font-size: 14px;
    padding: 4px 6px;
  }

  @mixin hover {
    background-color: var(--event-hover);
  }

  &:where([data-auto-size]) {
    @container (max-height: 18px) {
      font-size: 9px;
      padding-block: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
