.event {
  padding: 1px;
  pointer-events: none;
}

.eventInner {
  /* background-color: var(--event-bg); */
  /* color: var(--event-color); */
  pointer-events: all;
  border-radius: var(--event-radius);
  border: 1px solid transparent;
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  padding: 3px 4px;
  height: 100%;
  cursor: pointer;
  user-select: none;

  background-color: var(--mantine-color-blue-1);
  color: var(--mantine-color-blue-9);

  &:where([data-truncate]) {
    width: 95%;
  }

  &:where([data-size='md']) {
    font-size: 14px;
    padding: 4px 6px;
  }
}
