.event {
  padding: 1px;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  position: relative;
  z-index: 3;

  &:where([data-auto-size]) {
    container-type: size;
  }

  &:where([data-draggable]) .eventInner {
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  &:where([data-dragging]) {
    opacity: 0.2;

    .eventInner {
      cursor: grabbing;
    }
  }

  &:where([data-any-dragging]:not([data-dragging])) {
    pointer-events: none;

    .eventInner {
      pointer-events: none;
    }
  }

  &:where([data-static]) {
    pointer-events: none;
    cursor: default;
  }

  &:where([data-hanging='start'], [data-hanging='both']) {
    &::before {
      content: '';
      position: absolute;
      inset-block: 2px;
      inset-inline-start: 2px;
      width: 2px;
      background-color: var(--event-color);
      border-radius: 10px;
      opacity: 0.3;
    }

    .eventInner {
      padding-inline-start: 6px;
      border-start-start-radius: 0;
      border-end-start-radius: 0;
    }
  }

  &:where([data-hanging='end'], [data-hanging='both']) {
    &::after {
      content: '';
      position: absolute;
      inset-block: 2px;
      inset-inline-end: 2px;
      width: 2px;
      background-color: var(--event-color);
      border-radius: 10px;
      opacity: 0.3;
    }

    .eventInner {
      padding-inline-end: 6px;
      border-start-end-radius: 0;
      border-end-end-radius: 0;
    }
  }
}

.eventInner {
  background-color: var(--event-bg);
  color: var(--event-color);
  pointer-events: all;
  border-radius: var(--event-radius);
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  padding: 3px 4px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  user-select: none;
  overflow: hidden;

  &:where([data-nowrap]) {
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.25;
  }

  &:where([data-size='md']) {
    font-size: 14px;
    padding: 4px 6px;
  }

  @mixin hover {
    background-color: var(--event-hover);
  }

  &:where([data-auto-size]) {
    @container (max-height: 18px) {
      font-size: 9px;
      padding-block: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .event[data-static] & {
    cursor: default;
    pointer-events: none;

    @mixin hover {
      background-color: var(--event-bg);
    }
  }
}
