.root {
  --checkbox-size-xxl: rem(42px);
  --checkbox-size-xxs: rem(14px);

  &[data-size='xxl'] {
    .label {
      font-size: rem(22px);
      line-height: rem(40px);
    }
  }

  &[data-size='xxs'] {
    .label {
      font-size: rem(10px);
      line-height: rem(14px);
    }
  }
}
