.root {
  --pill-fz-xs: rem(10px);
  --pill-fz-sm: rem(12px);
  --pill-fz-md: rem(14px);
  --pill-fz-lg: rem(16px);
  --pill-fz-xl: rem(18px);

  --pill-height-xs: rem(18px);
  --pill-height-sm: rem(22px);
  --pill-height-md: rem(25px);
  --pill-height-lg: rem(28px);
  --pill-height-xl: rem(32px);

  --pill-fz: var(--pill-fz-sm);
  --pill-height: var(--pill-height-sm);

  font-size: var(--pill-fz);
  flex: 0;
  height: var(--pill-height);
  padding-left: 0.8em;
  padding-right: var(--_pill-padding-right, 0.8em);
  display: inline-flex;
  align-items: center;
  border-radius: var(--pill-radius, rem(1000px));
  background-color: var(--_pill-bg);
  line-height: 1;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  max-width: 100%;
  color: var(--_pill-color);

  @mixin dark {
    --_pill-bg: var(--mantine-color-dark-7);
    --_pill-color: var(--mantine-color-dark-0);
  }

  @mixin light {
    --_pill-color: var(--mantine-color-black);
  }

  &[data-with-remove] {
    --_pill-padding-right: 0;
  }

  &[data-disabled],
  &:has(button:disabled) {
    --_pill-cursor: not-allowed;
  }
}

.root--default {
  @mixin light {
    --_pill-bg: var(--mantine-color-gray-1);

    &[data-disabled],
    &:has(button:disabled) {
      --_pill-bg: var(--mantine-color-gray-3);
    }
  }
}

.root--contrast {
  @mixin light {
    --_pill-bg: var(--mantine-color-white);

    &[data-disabled],
    &:has(button:disabled) {
      --_pill-bg: var(--mantine-color-gray-3);
    }
  }
}

.label {
  cursor: var(--_pill-cursor, default);
  overflow: hidden;
  height: 100%;
  line-height: var(--pill-height);
  text-overflow: ellipsis;
}

.remove {
  color: inherit;
  font-size: inherit;
  height: 100%;
  min-height: unset;
  min-width: 2em;
  width: unset;
  border-radius: 0;
  padding-left: 0.1em;
  padding-right: 0.3em;
  flex: 0;

  .root[data-disabled] > &,
  &:disabled {
    background-color: transparent;
    width: 0.8em;
    min-width: 0.8em;
    padding: 0;
    cursor: not-allowed;

    & > svg {
      display: none;
    }
  }

  & > svg {
    pointer-events: none;
  }
}

.group {
  --pg-gap-xs: rem(6px);
  --pg-gap-sm: rem(8px);
  --pg-gap-md: rem(10px);
  --pg-gap-lg: rem(12px);
  --pg-gap-xl: rem(12px);
  --pg-gap: var(--pg-gap-sm);

  display: flex;
  align-items: center;
  gap: var(--pg-gap);
  flex-wrap: wrap;
}
