.wrapper {
  box-shadow: var(--mantine-shadow-md);
  border-radius: var(--mantine-radius-md);
  background-color: var(--mantine-color-body);
  margin-top: var(--mantine-spacing-xl);
  margin-bottom: rem(60px);
}
