.root {
  padding: var(--mantine-spacing-md) var(--mantine-spacing-md);
  border-radius: var(--alert-radius, var(--mantine-radius-default));
  position: relative;
  overflow: hidden;
  background-color: var(--alert-bg, var(--mantine-primary-color-light));
  border: var(--alert-bd, rem(1px) solid transparent);
  color: var(--alert-color, var(--mantine-primary-color-light-color));
}

.root--filled {
  --_message-color: var(--alert-color, var(--mantine-primary-color-light-color));
}

.root--white {
  --_message-color: var(--mantine-color-black);
}

.wrapper {
  display: flex;
}

.body {
  flex: 1;
}

.title {
  margin-bottom: var(--mantine-spacing-xs);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--mantine-font-size-sm);
  font-weight: 700;

  &[data-with-clos-button] {
    padding-right: var(--mantine-spacing-md);

    @mixin rtl {
      padding-left: var(--mantine-spacing-md);
      padding-right: 0;
    }
  }
}

.label {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon {
  line-height: 1;
  width: rem(20px);
  height: rem(20px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: var(--mantine-spacing-md);
  margin-top: rem(1px);

  @mixin rtl {
    margin-right: 0;
    margin-left: var(--mantine-spacing-md);
  }
}

.message {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: var(--mantine-font-size-sm);
  color: var(--_message-color, var(--__message-color));

  @mixin light {
    --__message-color: var(--mantine-color-black);
  }

  @mixin dark {
    --__message-color: var(--mantine-color-white);
  }
}

.closeButton {
  width: rem(20px);
  height: rem(20px);
  margin-top: calc(var(--mantine-spacing-sm) * -0.5);
  color: var(--alert-color, var(--mantine-primary-color-light-color));
}
