.root {
  &:not(:has([data-visible])) {
    .nothingFound {
      display: block;
    }
  }
}

.searchIcon {
  width: 22px;
  height: 22px;
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-3));
}

.title {
  font-family: var(--docs-font-primary);
  font-weight: 500;
  margin-bottom: var(--mantine-spacing-sm);
  color: var(--mantine-color-bright);
  padding-inline-start: var(--mantine-spacing-xs);
}

.section {
  border: 1px solid var(--mantine-color-gray-3);
  border-radius: var(--mantine-radius-md);
  padding: var(--mantine-spacing-sm);
  padding-bottom: 0;
  padding-top: var(--mantine-spacing-md);

  & + & {
    margin-top: var(--mantine-spacing-xl);
  }

  &:not(:has([data-props-table-row])) {
    display: none;
  }
}

.search {
  margin-bottom: var(--mantine-spacing-xl);
}

.nothingFound {
  display: none;
  font-size: var(--mantine-font-size-lg);
  color: var(--mantine-color-dimmed);
}
