.root {
  padding-block: 120px;

  @mixin smaller-than $mantine-breakpoint-md {
    padding-block: 40px;
  }
}

.column {
  max-width: var(--hp-column-max-width);
}

.main {
  position: sticky;
  top: 120px;
}
