.root {
  --ai-size-xs: 18px;
  --ai-size-sm: 22px;
  --ai-size-md: 28px;
  --ai-size-lg: 34px;
  --ai-size-xl: 44px;

  --ai-size-input-xs: 30px;
  --ai-size-input-sm: 36px;
  --ai-size-input-md: 42px;
  --ai-size-input-lg: 50px;
  --ai-size-input-xl: 60px;

  --ai-size: var(--ai-size-md);
  --ai-color: var(--mantine-color-white);

  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
  overflow: hidden;

  width: var(--ai-size);
  height: var(--ai-size);
  min-width: var(--ai-size);
  min-height: var(--ai-size);
  border-radius: var(--ai-radius, var(--mantine-radius-default));
  background: var(--ai-bg, var(--mantine-primary-color-filled));
  color: var(--ai-color, var(--mantine-color-white));
  border: var(--ai-bd, rem(1px) solid transparent);
  cursor: pointer;

  @mixin hover {
    &:where(:not([data-loading], :disabled, [data-disabled])) {
      background-color: var(--ai-hover, var(--mantine-primary-color-filled-hover));
      color: var(--ai-hover-color, var(--ai-color));
    }
  }

  &[data-loading] {
    cursor: not-allowed;

    & .icon {
      opacity: 0;
      transform: translateY(100%);
    }
  }

  &:where(:disabled:not([data-loading]), [data-disabled]:not([data-loading])) {
    cursor: not-allowed;
    border: 1px solid transparent;

    @mixin where-light {
      background-color: var(--mantine-color-gray-1);
      color: var(--mantine-color-gray-5);
    }

    @mixin where-dark {
      background-color: var(--mantine-color-dark-6);
      color: var(--mantine-color-dark-3);
    }

    &:active {
      transform: none;
    }
  }
}

.loader {
  inset: -1px;
  position: absolute;
  border-radius: var(--ai-radius, var(--mantine-radius-default));
  display: flex;
  align-items: center;
  justify-content: center;

  @mixin where-light {
    background-color: rgba(255, 255, 255, 0.35);
  }

  @mixin where-dark {
    background-color: rgba(0, 0, 0, 0.35);
  }
}

.group {
  --ai-border-width: 1px;
  display: flex;

  & :where(*) {
    &:focus {
      position: relative;
      z-index: 1;
    }
  }

  &[data-orientation='horizontal'] {
    flex-direction: row;

    & .root {
      &:not(:only-child):first-child {
        border-end-end-radius: 0;
        border-start-end-radius: 0;
        border-inline-end-width: calc(var(--ai-border-width) / 2);
      }

      &:not(:only-child):last-child {
        border-end-start-radius: 0;
        border-start-start-radius: 0;
        border-inline-start-width: calc(var(--ai-border-width) / 2);
      }

      &:not(:only-child):not(:first-child):not(:last-child) {
        border-radius: 0;
        border-inline-width: calc(var(--ai-border-width) / 2);
      }
    }
  }

  &[data-orientation='vertical'] {
    flex-direction: column;

    & .root {
      &:not(:only-child):first-child {
        border-end-start-radius: 0;
        border-end-end-radius: 0;
        border-bottom-width: calc(var(--ai-border-width) / 2);
      }

      &:not(:only-child):last-child {
        border-start-start-radius: 0;
        border-start-end-radius: 0;
        border-top-width: calc(var(--ai-border-width) / 2);
      }

      &:not(:only-child):not(:first-child):not(:last-child) {
        border-radius: 0;
        border-bottom-width: calc(var(--ai-border-width) / 2);
        border-top-width: calc(var(--ai-border-width) / 2);
      }
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    transform 150ms ease,
    opacity 100ms ease;
  width: 100%;
  height: 100%;
}
