.tagPicker {
  position: relative;
}

.dropdown {
  width: 280px;
  position: absolute;
  top: 0;
  left: 0;
}

.control {
  border: 0;
  padding: 0;
  border-radius: 24px;
  padding: 0;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, sans-serif;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 3px @oc-blue-2;
  }
}
