.badge {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, sans-serif;
  display: inline-flex;
  align-items: center;
  line-height: 1;
  height: 22px;
  border-radius: 24px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.25px;
}
