.paragraph {
  line-height: 1.65;
  font-size: rem(15px);
}

.ul {
  line-height: 1.65;
  margin-bottom: rem(20px);
  margin-top: rem(10px);
  font-size: rem(15px);
  padding-left: var(--mantine-spacing-xl);
}

.li {
  margin-top: rem(4px);
  font-size: rem(15px);
}
