.root {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-xl);
  margin-top: 50px;

  @mixin smaller-than em(700px) {
    flex-direction: column;
    align-items: stretch;
    gap: var(--mantine-spacing-md);
  }
}

.link {
  -webkit-tap-highlight-color: transparent;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding: var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  color: var(--mantine-color-bright);
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
  border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
  }
}

.body {
  &[data-next] {
    text-align: start;
    margin-inline-end: var(--mantine-spacing-md);
  }

  &[data-prev] {
    text-align: end;
    margin-inline-start: var(--mantine-spacing-md);
  }
}

.title {
  font-size: var(--mantine-font-size-lg);
}

.description {
  font-size: var(--mantine-font-size-sm);
}

.icon {
  width: 25px;
  height: 25px;

  @mixin rtl {
    transform: rotate(180deg);
  }
}
