.table {
  --table-highlight-on-select-color: var(--mantine-primary-color-light);
  --table-icon-size: rem(16px);
}

.thead,
.tfoot {
  & :where(tr):not(:has(:not(:empty.th))) {
    display: none;
  }
}

.thead {
  transition: box-shadow 200ms ease;

  &:where([data-sticky]) {
    & :where(tr) {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: rem(-1.5px);
        border-bottom: rem(1px) solid var(--table-border-color);
      }
    }
  }

  &:where([data-stuck]) {
    box-shadow: var(--mantine-shadow-sm);
  }
}

.tr {
  &:where([data-selected]) {
    background-color: var(--table-highlight-on-select-color);
  }
}

.th {
  &:where([data-has-sorter]) {
    cursor: pointer;

    @mixin hover {
      background-color: var(--table-hover-color);
    }
  }
}

.columnHeader {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: var(--table-horizontal-spacing, var(--mantine-spacing-xs));
}

.columnTitle {
  flex: 1;
}
