.root {
  --badge-height-xs: rem(16px);
  --badge-height-sm: rem(18px);
  --badge-height-md: rem(20px);
  --badge-height-lg: rem(26px);
  --badge-height-xl: rem(32px);

  --badge-fz-xs: rem(9px);
  --badge-fz-sm: rem(10px);
  --badge-fz-md: rem(11px);
  --badge-fz-lg: rem(13px);
  --badge-fz-xl: rem(16px);

  --badge-padding-x-xs: rem(6px);
  --badge-padding-x-sm: rem(8px);
  --badge-padding-x-md: rem(10px);
  --badge-padding-x-lg: rem(12px);
  --badge-padding-x-xl: rem(16px);

  --badge-height: var(--badge-height-md);
  --badge-fz: var(--badge-fz-md);
  --badge-padding-x: var(--badge-padding-x-md);
  --badge-radius: rem(1000px);
  --badge-lh: calc(var(--badge-height) - rem(2px));
  --badge-color: var(--mantine-color-white);
  --badge-bg: var(--mantine-primary-color-filled);
  --badge-bd: rem(1px) solid transparent;

  -webkit-tap-highlight-color: transparent;
  font-size: var(--badge-fz);
  border-radius: var(--badge-radius);
  height: var(--badge-height);
  line-height: var(--badge-lh);
  text-decoration: none;
  padding: 0 var(--badge-padding-x);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: rem(0.25px);
  cursor: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--badge-color);
  background: var(--badge-bg);
  border: var(--badge-bd);

  &:where([data-block]) {
    display: flex;
    width: 100%;
  }

  &:where([data-circle]) {
    padding-left: rem(2px);
    padding-right: rem(2px);
    width: var(--badge-height);
  }
}

.root--dot {
  --badge-dot-size: calc(var(--badge-height) / 3.4);

  @mixin where-light {
    background-color: var(--mantine-color-white);
    border-color: var(--mantine-color-gray-4);
    color: var(--mantine-color-black);
  }

  @mixin where-dark {
    background-color: var(--mantine-color-dark-5);
    border-color: var(--mantine-color-dark-5);
    color: var(--mantine-color-white);
  }

  &::before {
    content: '';
    display: block;
    width: var(--badge-dot-size);
    height: var(--badge-dot-size);
    border-radius: var(--badge-dot-size);
    background-color: var(--badge-dot-color);
    margin-right: var(--badge-dot-size);

    @mixin where-rtl {
      margin-right: 0;
      margin-left: var(--badge-dot-size);
    }
  }
}

.label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section {
  --badge-section-margin: calc(var(--mantine-spacing-xs) / 2);

  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:where([data-position='left']) {
    margin-left: 0;
    margin-right: var(--badge-section-margin);

    @mixin where-rtl {
      margin-left: var(--badge-section-margin);
      margin-right: 0;
    }
  }

  &:where([data-position='right']) {
    margin-left: var(--badge-section-margin);
    margin-right: 0;

    @mixin rtl {
      margin-right: var(--badge-section-margin);
      margin-left: 0;
    }
  }
}
