.root {
  --badge-height-xs: rem(16px);
  --badge-height-sm: rem(18px);
  --badge-height-md: rem(20px);
  --badge-height-lg: rem(26px);
  --badge-height-xl: rem(32px);

  --badge-fz-xs: rem(9px);
  --badge-fz-sm: rem(10px);
  --badge-fz-md: rem(11px);
  --badge-fz-lg: rem(13px);
  --badge-fz-xl: rem(16px);

  --badge-padding-x-xs: rem(6px);
  --badge-padding-x-sm: rem(8px);
  --badge-padding-x-md: rem(10px);
  --badge-padding-x-lg: rem(12px);
  --badge-padding-x-xl: rem(16px);

  --badge-height: var(--badge-height-md);
  --badge-fz: var(--badge-fz-md);
  --badge-padding-x: var(--badge-padding-x-md);

  font-size: var(--badge-fz);
  border-radius: var(--badge-radius, rem(10000px));
  height: var(--badge-height);
  -webkit-tap-highlight-color: transparent;
  line-height: calc(var(--badge-height) - rem(2px));
  text-decoration: none;
  padding: 0 var(--badge-padding-x);
  display: var(--_badge-display, inline-flex);
  align-items: center;
  justify-content: center;
  width: var(--_badge-width, fit-content);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: rem(0.25px);
  cursor: inherit;
  text-overflow: ellipsis;
  overflow: hidden;

  color: var(--badge-color, var(--mantine-color-white));
  background: var(--badge-bg, var(--mantine-primary-color-filled));
  border: var(--badge-bd, rem(1px) solid transparent);

  &[data-block] {
    --_badge-display: flex;
    --_badge-width: 100%;
  }
}

.root--dot {
  --badge-dot-size: calc(var(--badge-height) / 3.4);

  background-color: var(--_badge-bg);
  border: rem(1px) solid var(--_badge-border-color);
  color: var(--_badge-color);

  @mixin light {
    --_badge-bg: var(--mantine-color-white);
    --_badge-border-color: var(--mantine-color-gray-4);
    --_badge-color: var(--mantine-color-black);
  }

  @mixin dark {
    --_badge-bg: var(--mantine-color-dark-5);
    --_badge-border-color: var(--mantine-color-dark-5);
    --_badge-color: var(--mantine-color-white);
  }

  &::before {
    content: '';
    display: block;
    width: var(--badge-dot-size);
    height: var(--badge-dot-size);
    border-radius: var(--badge-dot-size);
    background-color: var(--badge-dot-color);
    margin-right: var(--badge-dot-size);

    @mixin rtl {
      margin-right: 0;
      margin-left: var(--badge-dot-size);
    }
  }
}

.label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section {
  --_section-margin: calc(var(--mantine-spacing-xs) / 2);
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &[data-position='left'] {
    margin-left: var(--_left-section-ml, 0);
    margin-right: var(--_left-section-mr, var(--_section-margin));

    @mixin rtl {
      --_left-section-ml: var(--_section-margin);
      --_left-section-mr: 0;
    }
  }

  &[data-position='right'] {
    margin-left: var(--_right-section-ml, var(--_section-margin));
    margin-right: var(--_right-section-mr, 0);

    @mixin rtl {
      --_right-section-mr: var(--_section-margin);
      --_right-section-ml: 0;
    }
  }
}
