.monthView {
  --week-numbers-offset: 0rem;
  --border-color: var(--mantine-color-gray-3);
  --month-view-border: 1px solid var(--border-color);
  --day-base-color: var(--mantine-color-text);

  &[data-with-week-numbers] {
    --week-numbers-offset: 42px;
  }
}

.weekdays {
  display: flex;

  :where([data-with-week-numbers]) & {
    padding-inline-start: var(--week-numbers-offset);
  }
}

.week {
  display: flex;
}

.weekNumber {
  flex: 0 0 var(--week-numbers-offset);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--mantine-font-size-sm);
  padding: 4px;
  border-top: var(--month-view-border);
  border-bottom: none;
  border-left: var(--month-view-border);
  border-right: none;
  font-weight: 500;

  .week:last-child & {
    border-bottom: var(--month-view-border);
  }
}

.weekday {
  flex: 0 0 calc(100% / 7);
  height: 36px;
  font-size: var(--mantine-font-size-sm);
  border-top: var(--month-view-border);
  border-bottom: none;
  border-left: var(--month-view-border);
  border-right: none;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;

  &:last-child {
    border-right: var(--month-view-border);
  }
}

.day {
  flex: 0 0 calc(100% / 7 - var(--week-numbers-offset) / 7);
  height: 100px;
  padding: 8px;
  font-size: var(--mantine-font-size-sm);
  border-top: var(--month-view-border);
  border-bottom: none;
  border-left: var(--month-view-border);
  border-right: none;
  color: var(--day-base-color);

  &:where(:last-child) {
    border-right: var(--month-view-border);
  }

  :where(.week:last-child) & {
    border-bottom: var(--month-view-border);
  }

  &:where([data-weekend]) {
    color: var(--mantine-color-red-6);
  }

  &:where([data-outside]) {
    color: alpha(var(--day-base-color), 0.4);
  }
}
