.root {
  --button-height-xs: rem(30px);
  --button-height-sm: rem(36px);
  --button-height-md: rem(42px);
  --button-height-lg: rem(50px);
  --button-height-xl: rem(60px);

  --button-height-compact-xs: rem(22px);
  --button-height-compact-sm: rem(26px);
  --button-height-compact-md: rem(30px);
  --button-height-compact-lg: rem(34px);
  --button-height-compact-xl: rem(40px);

  --button-padding-x-xs: rem(14px);
  --button-padding-x-sm: rem(18px);
  --button-padding-x-md: rem(22px);
  --button-padding-x-lg: rem(26px);
  --button-padding-x-xl: rem(32px);

  --button-padding-x-compact-xs: rem(7px);
  --button-padding-x-compact-sm: rem(8px);
  --button-padding-x-compact-md: rem(10px);
  --button-padding-x-compact-lg: rem(12px);
  --button-padding-x-compact-xl: rem(14px);

  --button-height: var(--button-height-sm);
  --button-padding-x: var(--button-padding-x-sm);
  --button-color: var(--mantine-color-white);

  user-select: none;
  font-weight: 600;
  position: relative;
  line-height: 1;
  text-align: center;
  overflow: hidden;

  width: auto;
  cursor: pointer;
  display: inline-block;
  border-radius: var(--button-radius, var(--mantine-radius-default));
  font-size: var(--button-fz, var(--mantine-font-size-sm));
  background: var(--button-bg, var(--mantine-primary-color-filled));
  border: var(--button-bd, rem(1px) solid transparent);
  color: var(--button-color, var(--mantine-color-white));
  height: var(--button-height, var(--button-height-sm));
  padding-inline: var(--button-padding-x, var(--button-padding-x-sm));
  vertical-align: middle;

  &:where([data-block]) {
    display: block;
    width: 100%;
  }

  &:where([data-with-left-section]) {
    padding-inline-start: calc(var(--button-padding-x) / 1.5);
  }

  &:where([data-with-right-section]) {
    padding-inline-end: calc(var(--button-padding-x) / 1.5);
  }

  &:where(:disabled:not([data-loading]), [data-disabled]:not([data-loading])) {
    cursor: not-allowed;
    border: rem(1px) solid transparent;
    transform: none;

    @mixin where-light {
      color: var(--mantine-color-gray-5);
      background: var(--mantine-color-gray-1);
    }

    @mixin where-dark {
      color: var(--mantine-color-dark-3);
      background: var(--mantine-color-dark-6);
    }
  }

  &::before {
    content: '';
    pointer-events: none;
    position: absolute;
    inset: rem(-1px);
    border-radius: var(--button-radius, var(--mantine-radius-default));
    transform: translateY(-100%);
    opacity: 0;
    filter: blur(12px);
    transition:
      transform 150ms ease,
      opacity 100ms ease;

    @mixin where-light {
      background-color: rgba(255, 255, 255, 0.15);
    }

    @mixin where-dark {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }

  &:where([data-loading]) {
    cursor: not-allowed;
    transform: none;

    &::before {
      transform: translateY(0);
      opacity: 1;
    }

    & .inner {
      opacity: 0;
      transform: translateY(100%);
    }

    & .loader {
      opacity: 1;
      transform: translate(-50%, calc(-50% + rem(1px)));
    }
  }

  @mixin hover {
    &:where(:not([data-loading], :disabled, [data-disabled])) {
      background-color: var(--button-hover, var(--mantine-primary-color-filled-hover));
      color: var(--button-hover-color, var(--button-color));
    }
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: var(--button-justify, center);
  height: 100%;
  overflow: visible;
  transition:
    transform 150ms ease,
    opacity 100ms ease;
}

.label {
  white-space: nowrap;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  opacity: 1;

  &:where([data-loading]) {
    opacity: 0.2;
  }
}

.section {
  display: flex;
  align-items: center;

  &:where([data-position='left']) {
    margin-inline-end: var(--mantine-spacing-xs);
  }

  &:where([data-position='right']) {
    margin-inline-start: var(--mantine-spacing-xs);
  }
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transition:
    transform 150ms ease,
    opacity 100ms ease;
  opacity: 0;
  transform: translate(-50%, -200%);
}

.group {
  --button-border-width: rem(1px);
  display: flex;

  &[data-orientation='horizontal'] {
    flex-direction: row;

    & .root {
      &:not(:only-child):first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-right-width: calc(var(--button-border-width) / 2);
      }

      &:not(:only-child):last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-left-width: calc(var(--button-border-width) / 2);
      }

      &:not(:only-child):not(:first-child):not(:last-child) {
        border-radius: 0;
        border-right-width: calc(var(--button-border-width) / 2);
        border-left-width: calc(var(--button-border-width) / 2);
      }

      @mixin where-rtl {
        &:not(:only-child):first-child {
          border: var(--button-bd, rem(1px) solid transparent);
          border-radius: var(--button-radius, var(--mantine-radius-default));
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
          border-left-width: calc(var(--button-border-width) / 2);
        }

        &:not(:only-child):last-child {
          border: var(--button-bd, rem(1px) solid transparent);
          border-radius: var(--button-radius, var(--mantine-radius-default));
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
          border-right-width: calc(var(--button-border-width) / 2);
        }
      }
    }
  }

  &[data-orientation='vertical'] {
    flex-direction: column;

    & .root {
      &:not(:only-child):first-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-width: calc(var(--button-border-width) / 2);
      }

      &:not(:only-child):last-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top-width: calc(var(--button-border-width) / 2);
      }

      &:not(:only-child):not(:first-child):not(:last-child) {
        border-radius: 0;
        border-bottom-width: calc(var(--button-border-width) / 2);
        border-top-width: calc(var(--button-border-width) / 2);
      }
    }
  }
}
