@font-face {
  font-family: 'Greycliff CF';
  src: url('./GreycliffCF-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('./GreycliffCF-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
