.root {
  --modal-size-xs: rem(320px);
  --modal-size-sm: rem(380px);
  --modal-size-md: rem(440px);
  --modal-size-lg: rem(620px);
  --modal-size-xl: rem(780px);
  --modal-size: var(--modal-size-md);

  --modal-y-offset: 5dvh;
  --modal-x-offset: 5vw;

  &[data-full-screen] {
    --modal-border-radius: 0 !important;

    .content {
      --_content-flex: 0 0 100%;
      --_content-max-height: auto;
      --_content-height: 100dvh;
    }

    .inner {
      --_inner-y-offset: 0;
      --_inner-x-offset: 0;
    }
  }

  &[data-centered] {
    .inner {
      --_inner-align: center;
    }
  }
}

.header {
  border-top-left-radius: var(--modal-radius, var(--mantine-radius-default));
  border-top-right-radius: var(--modal-radius, var(--mantine-radius-default));
}

.content {
  flex: var(--_content-flex, 0 0 var(--modal-size));
  max-width: 100%;
  max-height: var(--_content-max-height, calc(100dvh - var(--modal-y-offset) * 2));
  height: var(--_content-height, auto);
  overflow-y: auto;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: var(--_inner-align, flex-start);
  padding-top: var(--_inner-y-offset, var(--modal-y-offset));
  padding-bottom: var(--_inner-y-offset, var(--modal-y-offset));
  padding-left: var(--_inner-x-offset, var(--modal-x-offset));
  padding-right: var(--_inner-x-offset, var(--modal-x-offset));
}
