.root {
  --switch-height-xs: rem(16px);
  --switch-height-sm: rem(20px);
  --switch-height-md: rem(24px);
  --switch-height-lg: rem(30px);
  --switch-height-xl: rem(36px);

  --switch-width-xs: rem(32px);
  --switch-width-sm: rem(38px);
  --switch-width-md: rem(46px);
  --switch-width-lg: rem(56px);
  --switch-width-xl: rem(72px);

  --switch-thumb-size-xs: rem(12px);
  --switch-thumb-size-sm: rem(14px);
  --switch-thumb-size-md: rem(18px);
  --switch-thumb-size-lg: rem(22px);
  --switch-thumb-size-xl: rem(28px);

  --switch-label-font-size-xs: rem(5px);
  --switch-label-font-size-sm: rem(6px);
  --switch-label-font-size-md: rem(7px);
  --switch-label-font-size-lg: rem(9px);
  --switch-label-font-size-xl: rem(11px);

  --switch-track-label-padding-xs: rem(1px);
  --switch-track-label-padding-sm: rem(2px);
  --switch-track-label-padding-md: rem(2px);
  --switch-track-label-padding-lg: rem(3px);
  --switch-track-label-padding-xl: rem(3px);

  --switch-height: var(--switch-height-sm);
  --switch-width: var(--switch-width-sm);
  --switch-thumb-size: var(--switch-thumb-size-sm);
  --switch-label-font-size: var(--switch-label-font-size-sm);
  --switch-track-label-padding: var(--switch-track-label-padding-sm);
  --switch-radius: rem(1000px);
  --switch-color: var(--mantine-primary-color-filled);

  position: relative;
}

.input {
  height: 0;
  width: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
}

.track {
  -webkit-tap-highlight-color: transparent;
  cursor: var(--_switch-cursor, var(--mantine-cursor-type));
  overflow: hidden;
  position: relative;
  border-radius: var(--switch-radius);
  background-color: var(--_switch-bg);
  border: rem(1px) solid var(--_switch-bd);
  height: var(--switch-height);
  min-width: var(--switch-width);
  margin: 0;
  transition:
    background-color 150ms ease,
    border-color 150ms ease;
  appearance: none;
  display: flex;
  align-items: center;
  font-size: var(--switch-label-font-size);
  font-weight: 600;
  order: var(--_switch-order, 1);
  user-select: none;
  z-index: 0;
  line-height: 0;
  color: var(--_switch-color);

  .input:focus-visible + & {
    outline: rem(2px) solid var(--mantine-primary-color-filled);
    outline-offset: rem(2px);
  }

  .input:checked + & {
    --_switch-bg: var(--switch-color);
    --_switch-bd: var(--switch-color);
    --_switch-color: var(--mantine-color-white);
  }

  .input:disabled + &,
  .input[data-disabled] + & {
    --_switch-bg: var(--_switch-disabled-color);
    --_switch-bd: var(--_switch-disabled-color);
    --_switch-cursor: not-allowed;
  }

  @mixin light {
    --_switch-bg: var(--mantine-color-gray-2);
    --_switch-bd: var(--mantine-color-gray-3);
    --_switch-color: var(--mantine-color-gray-6);
    --_switch-disabled-color: var(--mantine-color-gray-2);
  }

  @mixin dark {
    --_switch-bg: var(--mantine-color-dark-6);
    --_switch-bd: var(--mantine-color-dark-4);
    --_switch-color: var(--mantine-color-dark-1);
    --_switch-disabled-color: var(--mantine-color-dark-4);
  }

  &[data-error] {
    --_switch-bd: var(--mantine-color-error);
  }

  &[data-label-position='left'] {
    --_switch-order: 2;
  }
}

.thumb {
  position: absolute;
  z-index: 1;
  border-radius: var(--switch-radius);
  display: flex;
  background-color: var(--_switch-thumb-bg, var(--mantine-color-white));
  height: var(--switch-thumb-size);
  width: var(--switch-thumb-size);
  border: rem(1px) solid var(--_switch-thumb-bd);
  left: var(--_switch-thumb-left, var(--switch-track-label-padding));
  transition: left 150ms ease;

  & > * {
    margin: auto;
  }

  .input:checked + * > & {
    --_switch-thumb-left: calc(100% - var(--switch-thumb-size) - var(--switch-track-label-padding));
    --_switch-thumb-bd: var(--mantine-color-white);
  }

  .input:disabled + * > &,
  .input[data-disabled] + * > & {
    --_switch-thumb-bd: var(--_switch-thumb-bg-disabled);
    --_switch-thumb-bg: var(--_switch-thumb-bg-disabled);
  }

  @mixin light {
    --_switch-thumb-bd: var(--mantine-color-gray-3);
    --_switch-thumb-bg-disabled: var(--mantine-color-gray-0);
  }

  @mixin dark {
    --_switch-thumb-bd: var(--mantine-color-white);
    --_switch-thumb-bg-disabled: var(--mantine-color-dark-3);
  }
}

.trackLabel {
  height: 100%;
  display: grid;
  place-content: center;
  min-width: calc(var(--switch-width) - var(--switch-thumb-size));
  padding-inline: var(--switch-track-label-padding);
  margin: 0 0 0 calc(var(--switch-thumb-size) + var(--switch-track-label-padding));
  transition: margin 150ms ease;

  .input:checked + * > & {
    margin: 0 calc(var(--switch-thumb-size) + var(--switch-track-label-padding)) 0 0;
  }
}
