.dropdown {
  padding: rem(4px);
}

.label {
  color: var(--mantine-color-dimmed);
  font-weight: 500;
  font-size: var(--mantine-font-size-xs);
  padding: calc(var(--mantine-spacing-xs) / 2) var(--mantine-spacing-sm);
  cursor: default;
}

.divider {
  margin-top: rem(4px);
  margin-bottom: rem(4px);
  border-top: rem(1px) solid;

  @mixin light {
    border-color: var(--mantine-color-gray-2);
  }

  @mixin dark {
    border-color: var(--mantine-color-dark-4);
  }
}

.item {
  font-size: var(--mantine-font-size-sm);
  width: 100%;
  padding: calc(var(--mantine-spacing-xs) / 1.5) var(--mantine-spacing-sm);
  border-radius: var(--popover-radius, var(--mantine-radius-default));
  color: var(--menu-item-color, var(--mantine-color-text));
  display: flex;
  align-items: center;
  user-select: none;
  background-color: var(--_item-bg, transparent);

  &:where([data-disabled], :disabled) {
    color: var(--mantine-color-dimmed);
    opacity: 0.6;
    pointer-events: none;
  }

  &:where([data-hovered]) {
    @mixin where-light {
      background-color: var(--menu-item-hover, var(--mantine-color-gray-1));
    }

    @mixin where-dark {
      background-color: var(--menu-item-hover, var(--mantine-color-dark-4));
    }
  }
}

.itemLabel {
  flex: 1;

  @mixin rtl {
    text-align: right;
  }
}

.itemSection {
  display: flex;
  justify-content: center;
  align-items: center;

  &:where([data-position='left']) {
    margin-left: 0;
    margin-right: var(--mantine-spacing-xs);

    @mixin where-rtl {
      margin-left: var(--mantine-spacing-xs);
      margin-right: 0;
    }
  }

  &:where([data-position='right']) {
    margin-left: var(--mantine-spacing-xs);
    margin-right: 0;

    @mixin where-rtl {
      margin-left: 0;
      margin-right: var(--mantine-spacing-xs);
    }
  }
}
