.root {
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    margin-top: calc(1.55 * var(--mantine-spacing-xl));
    margin-bottom: var(--mantine-spacing-xs);
  }

  & h1 {
    font-size: var(--mantine-h1-font-size);
    line-height: var(--mantine-h1-line-height);
    font-weight: var(--mantine-h1-font-weight);
  }

  & h2 {
    font-size: var(--mantine-h2-font-size);
    line-height: var(--mantine-h2-line-height);
    font-weight: var(--mantine-h2-font-weight);
  }

  & h3 {
    font-size: var(--mantine-h3-font-size);
    line-height: var(--mantine-h3-line-height);
    font-weight: var(--mantine-h3-font-weight);
  }

  & h4 {
    font-size: var(--mantine-h4-font-size);
    line-height: var(--mantine-h4-line-height);
    font-weight: var(--mantine-h4-font-weight);
  }

  & h5 {
    font-size: var(--mantine-h5-font-size);
    line-height: var(--mantine-h5-line-height);
    font-weight: var(--mantine-h5-font-weight);
  }

  & h6 {
    font-size: var(--mantine-h6-font-size);
    line-height: var(--mantine-h6-line-height);
    font-weight: var(--mantine-h6-font-weight);
  }

  & img {
    max-width: 100%;
    margin-bottom: var(--mantine-spacing-xs);
  }

  & p {
    margin-top: 0;
    margin-bottom: var(--mantine-spacing-lg);
  }

  & mark {
    @mixin light {
      background-color: var(--mantine-color-yellow-2);
      color: inherit;
    }

    @mixin dark {
      background-color: var(--mantine-color-yellow-5);
      color: var(--mantine-color-black);
    }
  }

  & a {
    color: var(--mantine-color-anchor);
    text-decoration: none;

    @mixin hover {
      text-decoration: underline;
    }
  }

  & hr {
    margin-top: var(--mantine-spacing-md);
    margin-bottom: var(--mantine-spacing-md);
    border: 0;
    border-top: rem(1px) solid;

    @mixin light {
      border-color: var(--mantine-color-gray-3);
    }

    @mixin dark {
      border-color: var(--mantine-color-dark-3);
    }
  }

  & pre {
    padding: var(--mantine-spacing-xs);
    line-height: var(--mantine-line-height);
    margin: 0;
    margin-top: var(--mantine-spacing-md);
    margin-bottom: var(--mantine-spacing-md);
    overflow-x: auto;
    font-family: var(--mantine-font-family-monospace);
    font-size: var(--mantine-font-size-xs);
    border-radius: var(--mantine-radius-sm);

    @mixin light {
      background-color: var(--mantine-color-gray-0);
    }

    @mixin dark {
      background-color: var(--mantine-color-dark-8);
    }

    & code {
      background-color: transparent;
      padding: 0;
      border-radius: 0;
      color: inherit;
      border: 0;
    }
  }

  & code {
    line-height: var(--mantine-line-height);
    padding: rem(1px) rem(5px);
    border-radius: var(--mantine-radius-sm);
    font-family: var(--mantine-font-family-monospace);
    font-size: var(--mantine-font-size-xs);

    @mixin light {
      background-color: var(--mantine-color-gray-0);
      color: var(--mantine-color-black);
    }

    @mixin dark {
      background-color: var(--mantine-color-dark-5);
      color: var(--mantine-color-white);
    }
  }

  & ul,
  &,
  ol {
    margin-bottom: var(--mantine-spacing-md);
    padding-left: rem(38px);

    & li {
      margin-bottom: var(--mantine-spacing-xs);
    }
  }

  & table {
    width: 100%;
    border-collapse: collapse;
    caption-side: bottom;
    margin-bottom: var(--mantine-spacing-md);

    & caption {
      margin-top: var(--mantine-spacing-xs);
      font-size: var(--mantine-font-size-sm);
      color: var(--mantine-color-gray-6);
    }

    & th {
      text-align: left;
      font-weight: bold;
      color: var(--mantine-color-gray-7);
      font-size: var(--mantine-font-size-sm);
      padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    }

    & thead th {
      border-bottom: rem(1px) solid;
      border-color: var(--mantine-color-gray-3);
    }

    & tfoot th {
      border-top: rem(1px) solid;
      border-color: var(--mantine-color-gray-3);
    }

    & td {
      padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
      border-bottom: rem(1px) solid;
      border-color: var(--mantine-color-gray-3);
      font-size: var(--mantine-font-size-sm);
    }

    & tr:last-of-type td {
      border-bottom: 0;
    }
  }

  & blockquote {
    font-size: var(--mantine-font-size-lg);
    line-height: var(--mantine-line-height);
    margin: var(--mantine-spacing-md) 0;
    border-radius: var(--mantine-radius-sm);
    padding: var(--mantine-spacing-md) var(--mantine-spacing-lg);

    @mixin light {
      background-color: var(--mantine-color-gray-0);
    }

    @mixin dark {
      background-color: var(--mantine-color-dark-8);
    }
  }
}
