.root {
  &[data-scrollable] {
    --_spotlight-content-height: 100%;
  }
}

.content {
  overflow: hidden;
  height: var(--_spotlight-content-height, auto);
  max-height: var(--spotlight-max-height);
}

.body {
  display: flex;
  flex-direction: column;
  height: var(--_spotlight-content-height, auto);
}

.search {
  border: 0;
  background-color: transparent;
}

.actionsList {
  /* Used in child ScrollArea */
  --spotlight-actions-list-padding: rem(4px);

  border-top: rem(1px) solid var(--_actions-list-border);
  flex: 1;
  padding: var(--spotlight-actions-list-padding);
  max-height: calc(100% - rem(3.125rem));
  margin-right: var(--_actions-list-mr, calc(var(--spotlight-actions-list-padding) * -1));
  margin-left: var(--_actions-list-ml, 0);

  @mixin rtl {
    --_actions-list-mr: 0;
    --_actions-list-ml: calc(var(--spotlight-actions-list-padding) * -1);
  }

  @mixin light {
    --_actions-list-border: var(--mantine-color-gray-2);
  }

  @mixin dark {
    --_actions-list-border: var(--mantine-color-dark-4);
  }
}

.action {
  display: flex;
  align-items: center;
  width: 100%;
  padding: rem(7px) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-default);
  background-color: var(--_action-bg, transparent);
  color: var(--_action-color, inherit);
  text-align: var(--_action-text-align, left);

  @mixin rtl {
    --_action-text-align: right;
  }

  &:not([data-selected]) {
    @mixin hover {
      @mixin light {
        --_action-bg: var(--mantine-color-gray-0);
      }

      @mixin dark {
        --_action-bg: var(--mantine-color-dark-6);
      }
    }
  }

  &[data-selected] {
    --_action-bg: var(--mantine-primary-color-filled);
    --_action-color: var(--mantine-color-white);
    --_action-description-color: var(--mantine-color-white);
    --_action-description-opacity: 0.7;
  }
}

.actionBody {
  flex: 1;
}

.actionSection {
  margin-left: var(--_action-section-ml);
  margin-right: var(--_action-section-mr);
  opacity: var(--_action-section-opacity, 1);
  color: var(--_action-section-color, inherit);

  &[data-dimmed] {
    --_action-section-opacity: var(--_action-description-opacity, 1);
    --_action-section-color: var(--_action-description-color, var(--mantine-color-dimmed));
  }

  &[data-position='left'] {
    --_action-section-mr: var(--mantine-spacing-md);
  }

  &[data-position='right'] {
    --_action-section-ml: var(--mantine-spacing-md);
  }

  & > svg {
    display: block;
  }
}

.actionLabel {
  display: block;
}

.actionDescription {
  display: block;
  font-size: var(--mantine-font-size-xs);
  opacity: var(--_action-description-opacity, 1);
  color: var(--_action-description-color, var(--mantine-color-dimmed));
}

.empty {
  color: var(--mantine-color-dimmed);
  padding: var(--mantine-spacing-md);
  text-align: center;
}

.footer {
  padding: var(--mantine-spacing-xs) calc(var(--mantine-spacing-md) + rem(4px));
  border-top: rem(1px) solid var(--_footer-border);

  @mixin light {
    --_footer-border: var(--mantine-color-gray-2);
  }

  @mixin dark {
    --_footer-border: var(--mantine-color-dark-4);
  }
}

.actionsGroup {
  display: var(--_display, flex);
  flex-direction: column;
  margin-top: var(--mantine-spacing-md);

  &::before {
    content: var(--spotlight-label);
    text-transform: uppercase;
    font-size: var(--mantine-font-size-xs);
    font-weight: 700;
    color: var(--mantine-color-dimmed);
    padding-left: var(--_actions-group-pl, var(--mantine-spacing-md));
    padding-right: var(--_actions-group-pr, 0);
  }

  @mixin rtl {
    --_actions-group-pl: 0;
    --_actions-group-pr: var(--mantine-spacing-md);
  }

  &:empty {
    --_display: none;
  }
}
