.tooltip {
  position: absolute;
  padding: calc(var(--mantine-spacing-xs) / 2) var(--mantine-spacing-xs);
  pointer-events: none;
  font-size: var(--mantine-font-size-sm);
  white-space: var(--_tooltip-white-space, nowrap);
  background-color: var(--_tooltip-bg);
  color: var(--_tooltip-color);
  border-radius: var(--tooltip-radius, var(--mantine-radius-default));

  @mixin light {
    --_tooltip-bg: var(--tooltip-bg, var(--mantine-color-gray-9));
    --_tooltip-color: var(--mantine-color-white);
  }

  @mixin dark {
    --_tooltip-bg: var(--tooltip-bg, var(--mantine-color-gray-2));
    --_tooltip-color: var(--mantine-color-black);
  }

  &[data-multiline] {
    --_tooltip-white-space: normal;
  }
}

.arrow {
  background-color: inherit;
  border: 0;
  z-index: 1;
}
