.code {
  display: inline-block;
  padding: 1px 3px;
  font-size: 13px;
  border-radius: var(--mantine-radius-xs);
  line-height: var(--code-line-height, var(--mantine-line-height));
  font-family: var(--mantine-font-family-monospace);
}

.pre {
  --code-line-height: 1.7;
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  margin: 0;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.controls {
  display: flex;
  margin-top: 7px;
  margin-inline-end: 7px;
}

.copy,
.control {
  background-color: transparent;
  opacity: 0.8;
  margin: 0;
  color: var(--mantine-color-dimmed);

  @mixin hover {
    opacity: 1;
    background-color: transparent;
    color: var(--mantine-color-dimmed);
  }

  @media (max-width: 40em) {
    display: none;
  }
}

.copy {
  position: absolute;
  top: 5px;
  inset-inline-end: 5px;
  z-index: 1;
}

.file {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--mantine-font-size-xs);
  gap: 7px;
  padding: 7px 12px;
  font-family: var(--mantine-font-family-monospace);
  font-weight: 700;
  line-height: 1;
  user-select: none;
  cursor: pointer;
  opacity: 0.8;
  border: 1px solid;
  border-top: 0;
  border-inline-start: 0;
  white-space: nowrap;
  margin: 0;

  @mixin hover {
    opacity: 1;
  }

  &:where(:last-of-type) {
    border-end-end-radius: var(--mantine-radius-sm);
  }

  &:where(:only-child) {
    cursor: default;
  }

  &:where([data-active]) {
    opacity: 1;

    @mixin where-light {
      background-color: var(--mantine-color-white);
      color: var(--mantine-color-black);
    }

    @mixin where-dark {
      background-color: var(--mantine-color-dark-6);
      color: var(--mantine-color-white);
    }
  }

  @mixin where-light {
    color: var(--mantine-color-gray-8);
    border-color: var(--mantine-color-gray-2);
  }

  @mixin where-dark {
    color: var(--mantine-color-dark-0);
    border-color: var(--mantine-color-dark-4);
  }
}

.files {
  display: flex;
}

.codeWrapper {
  max-height: var(--ch-max-collapsed-height);
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    z-index: 100;
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-image: linear-gradient(0deg, var(--code-background) 16%, rgba(0, 0, 0, 0) 100%);
    border-radius: calc(var(--mantine-radius-md) - 1px);
  }

  &:where([data-expanded]) {
    max-height: none;

    &::before {
      display: none;
    }
  }
}

.showCodeButton {
  position: absolute;
  bottom: 0;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-anchor);
  width: 100%;
  text-align: center;
  z-index: 101;
  padding-top: var(--mantine-spacing-xs);
  padding-bottom: var(--mantine-spacing-xs);

  &[data-hidden] {
    display: none;
  }
}

.root {
  margin-top: 0;
  position: relative;

  &:where([data-collapsed]) :global(.mantine-ScrollArea-viewport > div) {
    display: block !important;
  }
}

.fileIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0;

  & > svg {
    display: block;
  }
}
