.theme {
  color: var(--code-text-color);
  background: var(--code-background);

  @mixin where-light {
    --code-text-color: var(--mantine-color-gray-7);
    --code-background: var(--mantine-color-gray-0);
    --code-comment-color: var(--mantine-color-gray-6);
    --code-keyword-color: var(--mantine-color-violet-8);
    --code-tag-color: var(--mantine-color-red-9);
    --code-literal-color: var(--mantine-color-blue-6);
    --code-string-color: var(--mantine-color-blue-9);
    --code-variable-color: var(--mantine-color-lime-9);
    --code-class-color: var(--mantine-color-orange-9);
  }

  @mixin where-dark {
    --code-text-color: var(--mantine-color-dark-1);
    --code-background: var(--mantine-color-dark-8);
    --code-comment-color: var(--mantine-color-dark-3);
    --code-keyword-color: var(--mantine-color-violet-3);
    --code-tag-color: var(--mantine-color-yellow-4);
    --code-literal-color: var(--mantine-color-blue-4);
    --code-string-color: var(--mantine-color-green-6);
    --code-variable-color: var(--mantine-color-blue-2);
    --code-class-color: var(--mantine-color-orange-5);
  }

  :global(.hljs-comment),
  :global(.hljs-quote) {
    font-style: italic;
    color: var(--code-comment-color);
  }

  :global(.hljs-doctag),
  :global(.hljs-formula),
  :global(.hljs-keyword) {
    color: var(--code-keyword-color);
  }

  :global(.hljs-deletion),
  :global(.hljs-name),
  :global(.hljs-section),
  :global(.hljs-selector-tag),
  :global(.hljs-subst) {
    color: var(--code-tag-color);
  }

  :global(.hljs-literal) {
    color: var(--code-literal-color);
  }

  :global(.hljs-addition),
  :global(.hljs-attribute),
  :global(.hljs-meta .hljs-string),
  :global(.hljs-regexp),
  :global(.hljs-string) {
    color: var(--code-string-color);
  }

  :global(.hljs-attr),
  :global(.hljs-number),
  :global(.hljs-selector-attr),
  :global(.hljs-selector-class),
  :global(.hljs-selector-pseudo),
  :global(.hljs-template-variable),
  :global(.hljs-type),
  :global(.hljs-variable) {
    color: var(--code-variable-color);
  }

  :global(.hljs-bullet),
  :global(.hljs-link),
  :global(.hljs-meta),
  :global(.hljs-selector-id),
  :global(.hljs-symbol),
  :global(.hljs-title),
  :global(.hljs-built_in),
  :global(.hljs-class .hljs-title),
  :global(.hljs-title.class_) {
    color: var(--code-class-color);
  }

  :global(.hljs-emphasis) {
    font-style: italic;
  }

  :global(.hljs-strong) {
    font-weight: 700;
  }

  :global(.hljs-link) {
    text-decoration: underline;
  }
}
