.code {
  display: inline-block;
  padding: rem(1px) rem(3px);
  font-size: rem(13px);
  border-radius: var(--mantine-radius-xs);
  line-height: var(--_code-line-height, var(--mantine-line-height));
  font-family: var(--mantine-font-family-monospace);
}

.pre {
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  margin: 0;
  --_code-line-height: 1.7;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.controls {
  display: flex;
  margin-top: rem(7px);
  margin-right: rem(7px);
}

.copy,
.control {
  background-color: transparent;
  opacity: 0.8;
  margin: 0;
  color: var(--mantine-color-dimmed);

  @mixin hover {
    opacity: 1;
  }

  @media (max-width: 40em) {
    display: none;
  }
}

.copy {
  position: absolute;
  top: rem(5px);
  right: rem(5px);
  z-index: 1;
}

.file {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--mantine-font-size-xs);
  gap: rem(7px);
  padding: rem(7px) rem(12px);
  font-family: var(--mantine-font-family-monospace);
  font-weight: 700;
  line-height: 1;
  user-select: none;
  cursor: var(--_file-cursor);
  border: rem(1px) solid var(--_file-bd);
  border-top: 0;
  border-left: 0;
  color: var(--_file-color);
  opacity: var(--_file-opacity);
  background-color: var(--_file-bg);
  white-space: nowrap;
  margin: 0;

  @mixin hover {
    --_file-opacity: 1;
  }

  &:last-of-type {
    border-bottom-right-radius: var(--mantine-radius-sm);
  }

  &:only-child {
    --_file-cursor: default;
  }

  &[data-active] {
    --_file-opacity: 1;
    --_file-color: var(--_file-active-color) !important;
    --_file-bg: var(--_file-active-bg);
  }

  --_file-opacity: 0.8;
  --_file-cursor: pointer;

  @mixin light {
    --_file-color: var(--mantine-color-gray-8);
    --_file-bd: var(--mantine-color-gray-2);
    --_file-active-bg: var(--mantine-color-white);
    --_file-active-color: var(--mantine-color-black);
  }

  @mixin dark {
    --_file-color: var(--mantine-color-dark-0);
    --_file-bd: var(--mantine-color-dark-4);
    --_file-active-bg: var(--mantine-color-dark-6);
    --_file-active-color: var(--mantine-color-white);
  }
}

.files {
  display: flex;
}

.codeWrapper {
  max-height: var(--ch-max-collapsed-height);
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    z-index: 100;
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-image: linear-gradient(0deg, var(--_background) 16%, rgba(0, 0, 0, 0) 100%);
    border-radius: calc(var(--mantine-radius-md) - rem(1px));
  }

  &[data-expanded] {
    max-height: none;

    &::before {
      display: none;
    }
  }
}

.showCodeButton {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-anchor);
  width: 100%;
  text-align: center;
  z-index: 101;
  padding-top: var(--mantine-spacing-xs);
  padding-bottom: var(--mantine-spacing-xs);

  &[data-hidden] {
    display: none;
  }
}

.root {
  margin-top: 0;
  position: relative;

  &[data-collapsed] :global(.mantine-ScrollArea-viewport > div) {
    display: block !important;
  }
}

.fileIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0;

  & > svg {
    display: block;
  }
}
