.month {
  border-collapse: collapse;
  table-layout: fixed;
}

.monthCell {
  padding: 0;

  &:where([data-with-spacing]) {
    padding: 0.5px;
  }
}

.weekNumber {
  color: var(--mantine-color-dimmed);
  font-weight: normal;
  font-size: var(--wn-fz, var(--mantine-font-size-sm));
  text-align: center;
}
