.root {
  --ni-right-section-width-xs: rem(17px);
  --ni-right-section-width-sm: rem(24px);
  --ni-right-section-width-md: rem(27px);
  --ni-right-section-width-lg: rem(31px);
  --ni-right-section-width-xl: rem(34px);
}

.controls {
  --ni-chevron-size-xs: rem(10px);
  --ni-chevron-size-sm: rem(14px);
  --ni-chevron-size-md: rem(16px);
  --ni-chevron-size-lg: rem(18px);
  --ni-chevron-size-xl: rem(20px);
  --ni-chevron-size: var(--ni-chevron-size-sm);

  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(var(--_input-height) - rem(2px));
  max-width: calc(var(--ni-chevron-size) * 1.7);
  margin-left: auto;
  margin-right: 0;

  @mixin where-rtl {
    margin-left: 0;
    margin-right: auto;
  }
}

.control {
  --control-border: rem(1px) solid var(--_input-bd);
  --control-radius: calc(var(--_input-radius) - rem(1px));

  flex: 0 0 50%;
  width: 100%;
  padding: 0;
  height: calc(var(--_input-height) / 2 - rem(1px));
  border-left: var(--control-border);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mantine-color-text);
  background-color: transparent;
  cursor: pointer;

  &:where(:disabled) {
    background-color: transparent;
    cursor: not-allowed;
    opacity: 0.6;

    @mixin where-light {
      color: var(--mantine-color-gray-4);
    }

    @mixin where-dark {
      color: var(--mantine-color-dark-3);
    }
  }

  .root[data-error] :where(&) {
    color: var(--mantine-color-error);
  }

  @mixin where-rtl {
    border-left: none;
    border-right: var(--control-border);
  }

  @mixin hover {
    @mixin where-light {
      background-color: var(--mantine-color-gray-0);
    }

    @mixin where-dark {
      background-color: var(--mantine-color-dark-4);
    }
  }

  &:where(:first-of-type) {
    border-bottom: rem(0.5px) solid var(--_input-bd);
    border-radius: 0 var(--control-radius) 0 0;

    @mixin where-rtl {
      border-radius: var(--control-radius) 0 0 0;
    }
  }

  &:last-of-type {
    border-top: rem(0.5px) solid var(--_input-bd);
    border-radius: 0 0 var(--control-radius) 0;

    @mixin rtl {
      border-radius: 0 0 0 var(--control-radius);
    }
  }
}
