.control {
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
  border-radius: var(--mantine-radius-md);

  @mixin hover {
    &:not([data-active]) {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
  }

  &[data-active] {
    color: var(--mantine-color-white);
    background-color: var(--mantine-color-blue-filled);
  }
}

.name {
  display: block;
  font-weight: 500;
  color: inherit;
}

.description {
  display: block;
  opacity: 0.6;
  font-size: var(--mantine-font-size-sm);
  color: inherit;
}

.menuButton {
  padding-inline-end: 5px;
}
