.image {
  max-width: 100%;
}

.imageWrapper {
  padding: var(--mantine-spacing-xl);
  border-radius: var(--mantine-radius-md);
  display: flex;
  justify-content: center;
  border: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
}
