.root {
  color: var(--mantine-color-anchor);
  text-decoration: var(--_text-decoration, none);
  appearance: none;
  border: none;
  display: inline;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;

  &[data-underline='hover'] {
    @mixin hover {
      --_text-decoration: underline;
    }
  }

  &[data-underline='always'] {
    --_text-decoration: underline;
  }
}
