.list {
  background-color: var(--mantine-color-body);
  padding: var(--mantine-spacing-xs) 6px;
  border: 1px solid light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-4));
  border-top: 0;
  border-bottom-left-radius: var(--mantine-radius-md);
  border-bottom-right-radius: var(--mantine-radius-md);
  min-height: 190px;
}

.input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
