.root {
  --nl-bg: var(--mantine-primary-color-light);
  --nl-hover: var(--mantine-primary-color-light-hover);
  --nl-color: var(--mantine-primary-color-light-color);

  display: flex;
  align-items: center;
  width: 100%;
  padding: rem(8px) var(--mantine-spacing-sm);
  user-select: none;
  background: var(--_nav-link-bg);
  color: var(--_nav-link-color);
  opacity: var(--_nav-link-opacity, 1);
  pointer-events: var(--_nav-link-pointer-events, auto);

  @mixin hover {
    @mixin light {
      --_nav-link-bg: var(--mantine-color-gray-0);
    }

    @mixin dark {
      --_nav-link-bg: var(--mantine-color-dark-6);
    }
  }

  &[data-disabled] {
    --_nav-link-opacity: 0.4;
    --_nav-link-pointer-events: none;
  }

  &[data-active] {
    --_nav-link-bg: var(--nl-bg);
    --_nav-link-color: var(--nl-color);

    @mixin hover {
      --_nav-link-bg: var(--nl-hover);
    }

    .description {
      --_description-opacity: 0.9;
      --_description-color: var(--nl-color);
    }
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: var(--_section-ml);
  margin-right: var(--_section-mr);
  transition: transform 150ms ease;
  transform: var(--_section-transform, none);

  & > svg {
    display: block;
  }

  &[data-position='left'] {
    --_section-ml: 0;
    --_section-mr: var(--mantine-spacing-sm);

    @mixin rtl {
      --_section-ml: var(--mantine-spacing-sm);
      --_section-mr: 0;
    }
  }

  &[data-position='right'] {
    --_section-ml: var(--mantine-spacing-sm);
    --_section-mr: 0;

    @mixin rtl {
      --_section-ml: 0;
      --_section-mr: var(--mantine-spacing-sm);
    }
  }

  &[data-rotate] {
    --_section-transform: rotate(90deg);
  }
}

.label {
  font-size: var(--mantine-font-size-sm);
}

.body {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: var(--_body-white-space, auto);

  &[data-no-wrap] {
    --_body-white-space: nowrap;
  }
}

.description {
  display: block;
  font-size: var(--mantine-font-size-xs);
  opacity: var(--_description-opacity, 1);
  color: var(--_description-color, var(--mantine-color-dimmed));
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: var(--_body-white-space, auto);
}

.children {
  padding-left: var(--_children-pl, var(--nl-offset, var(--mantine-spacing-lg)));
  padding-right: var(--_children-pr, 0);

  @mixin rtl {
    --_children-pl: 0;
    --_children-pr: var(--nl-offset, var(--mantine-spacing-lg));
  }
}

.chevron {
  transform: rotate(-90deg);
}
