.root {
  --radio-size-xs: rem(16px);
  --radio-size-sm: rem(20px);
  --radio-size-md: rem(24px);
  --radio-size-lg: rem(30px);
  --radio-size-xl: rem(36px);
  --radio-size: var(--radio-size-sm);

  --radio-icon-size: calc(var(--radio-size) / 2.25);
}

.inner {
  position: relative;
  width: var(--radio-size);
  height: var(--radio-size);
  order: var(--_radio-order, 1);

  &[data-label-position='left'] {
    --_radio-order: 2;
  }
}

.icon {
  color: var(--_radio-icon-color, var(--mantine-color-white));
  opacity: var(--_radio-icon-opacity, 0);
  transform: var(--_radio-icon-transform, scale(0.2) translateY(rem(10px)));
  transition:
    opacity 100ms ease,
    transform 200ms ease;
  pointer-events: none;
  width: var(--radio-icon-size);
  height: var(--radio-icon-size);
  position: absolute;
  top: calc(50% - var(--radio-icon-size) / 2);
  left: calc(50% - var(--radio-icon-size) / 2);
}

.radio {
  background-color: var(--_radio-bg);
  border: rem(1px) solid var(--_radio-bd-color);
  position: relative;
  appearance: none;
  width: var(--radio-size);
  height: var(--radio-size);
  border-radius: var(--radio-radius, var(--radio-size));
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color, border-color;
  transition-timing-function: ease;
  transition-duration: 100ms;
  cursor: var(--_cursor, var(--mantine-cursor-type));
  -webkit-tap-highlight-color: transparent;

  @mixin light {
    --_radio-bg: var(--mantine-color-white);
    --_radio-bd-color: var(--mantine-color-gray-4);
  }

  @mixin dark {
    --_radio-bg: var(--mantine-color-dark-6);
    --_radio-bd-color: var(--mantine-color-dark-4);
  }

  &:checked {
    --_radio-bg: var(--radio-color, var(--mantine-primary-color-filled));
    --_radio-bd-color: var(--radio-color, var(--mantine-primary-color-filled));

    & + .icon {
      --_radio-icon-opacity: 1;
      --_radio-icon-transform: scale(1);
    }
  }

  &:disabled {
    --_cursor: not-allowed;

    @mixin light {
      --_radio-bg: var(--mantine-color-gray-1);
      --_radio-bd-color: var(--mantine-color-gray-2);

      & + .icon {
        --_radio-icon-color: var(--mantine-color-gray-3);
      }
    }

    @mixin dark {
      --_radio-bg: var(--mantine-color-dark-5);
      --_radio-bd-color: var(--mantine-color-dark-4);

      & + .icon {
        --_radio-icon-color: var(--mantine-color-dark-7);
      }
    }
  }

  &[data-error] {
    --_radio-bd-color: var(--mantine-color-error);
  }
}
