.yearView {
  --year-view-radius: var(--schedule-radius, var(--mantine-radius-default));
}

.yearViewQuarter {
  display: flex;

  &:where(:first-of-type) :where(.yearViewMonth:first-of-type) {
    border-start-start-radius: var(--year-view-radius);
  }

  &:where(:first-of-type) :where(.yearViewMonth:last-of-type) {
    border-start-end-radius: var(--year-view-radius);
  }

  &:where(:last-of-type) :where(.yearViewMonth:first-of-type) {
    border-end-start-radius: var(--year-view-radius);
  }

  &:where(:last-of-type) :where(.yearViewMonth:last-of-type) {
    border-end-end-radius: var(--year-view-radius);
  }
}

.yearViewMonth {
  --week-numbers-offset: 0rem;
  --day-base-color: var(--mantine-color-text);
  --day-dimmed-color: alpha(var(--day-base-color), 0.5);

  &:where([data-with-week-numbers]) {
    --week-numbers-offset: 28px;
  }

  flex: 1;
  border: 1px solid var(--mantine-color-gray-3);
  padding: var(--mantine-spacing-md);

  &:where(:not(:last-of-type)) {
    border-right: none;
  }

  :where(.yearViewQuarter:not(:last-of-type)) & {
    border-bottom: none;
  }
}

.yearViewWeekdays {
  display: flex;
}

.yearViewWeek {
  display: flex;
}

.yearViewWeekNumber {
  flex: 0 0 calc(var(--week-numbers-offset) - rem(4px));
  margin-inline-end: rem(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--mantine-font-size-xs);
  border-radius: var(--year-view-radius);
  padding: 4px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  color: var(--day-dimmed-color);

  @mixin hover {
    @mixin where-light {
      background-color: var(--mantine-color-gray-0);
    }

    @mixin where-dark {
      background-color: var(--mantine-color-dark-6);
    }
  }
}

.yearViewWeekday {
  flex: 0 0 calc(100% / 7 - var(--week-numbers-offset) / 7);
  height: 36px;
  font-size: var(--mantine-font-size-xs);
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  user-select: none;
  color: var(--day-dimmed-color);
}

.yearViewWeekdaysCorner {
  flex: 0 0 var(--week-numbers-offset);
}

.yearViewDay {
  flex: 0 0 calc(100% / 7 - var(--week-numbers-offset) / 7);
  padding: 4px;
  font-size: var(--mantine-font-size-xs);
  color: var(--day-base-color);
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  aspect-ratio: 1;

  &:where([data-weekend]) {
    color: var(--mantine-color-red-6);
  }

  &:where([data-outside]) {
    color: var(--day-dimmed-color);
  }

  @mixin hover {
    &:where(:not([data-today])) {
      @mixin where-light {
        background-color: var(--mantine-color-gray-0);
      }

      @mixin where-dark {
        background-color: var(--mantine-color-dark-6);
      }
    }
  }

  &:where([data-today]) {
    background-color: var(--mantine-primary-color-filled);
    color: var(--mantine-primary-color-contrast);

    @mixin hover {
      background-color: var(--mantine-primary-color-filled-hover);
    }
  }
}

.yearViewMonthCaption {
  padding-inline: calc(var(--week-numbers-offset) + rem(12px));
  padding-block: 5px;
  font-size: var(--mantine-font-size-md);
  font-weight: 600;
  text-transform: capitalize;
  border-radius: var(--year-view-radius);

  @mixin hover {
    @mixin where-light {
      background-color: var(--mantine-color-gray-0);
    }

    @mixin where-dark {
      background-color: var(--mantine-color-dark-6);
    }
  }
}
