.yearView {
  --year-view-radius: var(--schedule-radius, var(--mantine-radius-default));
  --year-view-font-size: clamp(6px, 1.5cqw, 22px);

  @mixin where-light {
    --year-view-border-color: var(--mantine-color-gray-3);
  }

  @mixin where-dark {
    --year-view-border-color: var(--mantine-color-dark-4);
  }
}

.yearViewMonths {
  container-type: inline-size;
}

.yearViewQuarter {
  display: flex;

  &:where(:first-of-type) :where(.yearViewMonth:first-of-type) {
    border-start-start-radius: var(--year-view-radius);
  }

  &:where(:first-of-type) :where(.yearViewMonth:last-of-type) {
    border-start-end-radius: var(--year-view-radius);
  }

  &:where(:last-of-type) :where(.yearViewMonth:first-of-type) {
    border-end-start-radius: var(--year-view-radius);
  }

  &:where(:last-of-type) :where(.yearViewMonth:last-of-type) {
    border-end-end-radius: var(--year-view-radius);
  }
}

.yearViewMonth {
  --week-numbers-offset: 0rem;
  --day-base-color: var(--mantine-color-text);
  --day-dimmed-color: alpha(var(--day-base-color), 0.5);

  &:where([data-with-week-numbers]) {
    --week-numbers-offset: 28px;
  }

  flex: 1;
  border: 1px solid var(--year-view-border-color);
  padding: var(--mantine-spacing-md);

  @container (width <= 860px) {
    border: 0;
    padding: 8px;

    &:where([data-with-week-numbers]) {
      --week-numbers-offset: 14px;
    }

    &:where(:first-of-type) {
      padding-inline-start: 0;
    }

    &:where(:last-of-type) {
      padding-inline-end: 0;
    }
  }

  @container (width <= 480px) {
    padding: 6px;
  }

  &:where(:not(:last-of-type)) {
    border-right: none;
  }

  :where(.yearViewQuarter:not(:last-of-type)) & {
    border-bottom: none;
  }
}

.yearViewWeekdays {
  display: flex;
}

.yearViewWeek {
  display: flex;
}

.yearViewWeekNumber {
  flex: 0 0 calc(var(--week-numbers-offset) - rem(4px));
  margin-inline-end: rem(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--year-view-font-size);
  border-radius: var(--year-view-radius);
  padding: 4px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  color: var(--day-dimmed-color);

  @container (width <= 860px) {
    min-width: unset;
    padding: 0;
  }

  @mixin hover {
    @mixin where-light {
      background-color: var(--mantine-color-gray-0);
    }

    @mixin where-dark {
      background-color: var(--mantine-color-dark-6);
    }
  }

  &:where([data-static]) {
    cursor: default;
    pointer-events: none;
  }
}

.yearViewWeekday {
  flex: 0 0 calc(100% / 7 - var(--week-numbers-offset) / 7);
  height: 36px;
  min-width: 36px;
  font-size: var(--year-view-font-size);
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  user-select: none;
  color: var(--day-dimmed-color);

  @container (width <= 860px) {
    min-width: unset;
    height: auto;
    padding-block: 0.1cqw;
  }
}

.yearViewWeekdaysCorner {
  flex: 0 0 var(--week-numbers-offset);
}

.yearViewDay {
  min-width: 36px;
  flex: 0 0 calc(100% / 7 - var(--week-numbers-offset) / 7);
  padding: 4px;
  font-size: var(--year-view-font-size);
  color: var(--day-base-color);
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  aspect-ratio: 1;
  position: relative;

  @container (width <= 860px) {
    min-width: 14px;
    padding: 0;
  }

  &:where([data-weekend]) {
    color: var(--mantine-color-red-6);
  }

  &:where([data-outside]) {
    color: var(--day-dimmed-color);
  }

  @mixin hover {
    &:where(:not([data-today])) {
      @mixin where-light {
        background-color: var(--mantine-color-gray-0);
      }

      @mixin where-dark {
        background-color: var(--mantine-color-dark-6);
      }
    }
  }

  &:where([data-today]:not([data-outside])) {
    background-color: var(--mantine-primary-color-filled);
    color: var(--mantine-primary-color-contrast);

    @mixin hover {
      background-color: var(--mantine-primary-color-filled-hover);
    }
  }

  &:where([data-static]) {
    cursor: default;
    pointer-events: none;
  }
}

.yearViewMonthCaption {
  padding-inline: calc(var(--week-numbers-offset) + rem(12px));
  padding-block: 0.2cqw;
  margin-bottom: 0.5cqw;
  font-size: var(--year-view-font-size);
  font-weight: 600;
  text-transform: capitalize;
  border-radius: var(--year-view-radius);

  @container (width <= 860px) {
    padding-inline: 4px;
    padding-block: 2px;
    width: 100%;
  }

  @mixin hover {
    @mixin where-light {
      background-color: var(--mantine-color-gray-0);
    }

    @mixin where-dark {
      background-color: var(--mantine-color-dark-6);
    }
  }

  &:where([data-static]) {
    cursor: default;
    pointer-events: none;
  }
}

.yearViewDayIndicators {
  position: absolute;
  bottom: 4px;
  inset-inline: 0;
  display: flex;
  justify-content: center;
  padding-inline-start: 2px;

  @container (width <= 860px) {
    display: none;
  }
}

.yearViewDayIndicator {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  margin-inline-start: -2px;
  border: 1px solid var(--mantine-color-body);
}
