.root {
  --paper-radius: var(--mantine-radius-default);

  outline: 0;
  -webkit-tap-highlight-color: transparent;
  display: block;
  touch-action: manipulation;
  text-decoration: none;
  border-radius: var(--paper-radius);
  box-shadow: var(--paper-shadow);
  background-color: var(--mantine-color-body);

  &:where([data-with-border]) {
    @mixin where-light {
      border: rem(1px) solid var(--mantine-color-gray-3);
    }

    @mixin where-dark {
      border: rem(1px) solid var(--mantine-color-dark-4);
    }
  }
}
