.wrapper {
  position: sticky;
  top: var(--docs-header-height);
  padding-top: var(--mantine-spacing-xl);
  flex: 0 0 var(--docs-table-of-contents-width);

  @media (max-width: $docs-mdx-breakpoint) {
    display: none;
  }

  &[data-with-tabs] {
    padding-top: 0;
    top: calc(var(--mantine-spacing-xl) + 60px);
  }
}

.inner {
  padding-bottom: var(--mantine-spacing-xl);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link {
  display: block;
  border-left: 1px solid transparent;
  padding: 6px var(--mantine-spacing-md);
  margin-left: -1px;
  padding-left: calc(var(--toc-link-offset) * var(--mantine-spacing-lg));
  font-size: 13px;
  font-weight: 500;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  border-top-right-radius: var(--mantine-radius-sm);
  border-bottom-right-radius: var(--mantine-radius-sm);

  &[data-active] {
    border-color: var(--mantine-color-blue-5);
    color: light-dark(var(--mantine-color-blue-7), var(--mantine-color-blue-4));
    background-color: light-dark(
      alpha(var(--mantine-color-blue-0), 0.5),
      alpha(var(--mantine-color-blue-6), 0.1)
    );
  }
}

.title {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: var(--mantine-spacing-md);
  color: var(--mantine-color-bright);
}

.items {
  border-inline-start: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-5));
}
