.root {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  display: block;
  touch-action: manipulation;
  text-decoration: none;
  border-radius: var(--paper-radius, var(--mantine-radius-default));
  box-shadow: var(--paper-shadow, none);
  background-color: var(--mantine-color-body);
  border: var(--_paper-border-width, 0) solid var(--_paper-border-color, transparent);

  &[data-with-border] {
    --_paper-border-width: rem(1px);

    @mixin light {
      --_paper-border-color: var(--mantine-color-gray-3);
    }

    @mixin dark {
      --_paper-border-color: var(--mantine-color-dark-4);
    }
  }
}
